.admin_edit {
  position: absolute;
  z-index: 9999
}

.admin_edit a {
  width: 20px;
  height: 20px;
  background-image: url("https://hailinh.vn/templates/hailinh/images/edit.png");
  display: inline-block
}

.block_area .name_block {
  position: absolute;
  background: #ffffff94;
  z-index: 999
}

.position_area {
  background: #fff;
  position: relative
}

.position_area .position_area_label {
  position: absolute;
  z-index: 9999;
  top: 0px;
  background: #ffffff94
}

.position_area .block_area_label {
  position: absolute;
  z-index: 9999;
  top: 18px;
  background: #ffffff94
}

.admin_edit_block {
  position: absolute;
  z-index: 9999;
  top: -3px;
  background: #ffffff;
  padding: 5px;
  width: 75px;
  left: 20px;
  padding-left: 10px
}

.admin_edit_block a {
  font-weight: bold;
  color: blue
}

.admin_edit_module {
  position: absolute;
  z-index: 9999;
  top: 25px;
  left: 20px;
  padding: 5px;
  background: #ffffff;
  width: 100px;
  padding-left: 10px
}

.admin_edit_module a {
  font-weight: bold;
  color: blue
}

.setting_admin {
  position: absolute;
  z-index: 9999;
  top: 36px;
  background: #ffffff94;
  left: 0px;
  width: 20px;
  height: 20px;
  background-image: url("https://hailinh.vn/templates/hailinh/images/setting.png");
  display: inline-block;
  cursor: pointer;
  overflow: hidden
}

.setting_admin:hover {
  overflow: unset
}

.admin_edit_detail {
  position: absolute;
  z-index: 9999;
  right: 0px;
  bottom: 0px;
  padding: 5px;
  background: #ffffff94
}

.admin_edit_detail a {
  width: 20px;
  height: 20px;
  background-image: url("https://hailinh.vn/templates/hailinh/images/edit_content.png");
  display: inline-block
}

.admin_edit_detail_md {
  z-index: 9999;
  right: 0px;
  bottom: 0px;
  padding: 5px;
  background: #ffffff94
}

.admin_edit_detail_md a {
  color: blue;
  font-weight: bold;
  background-image: url("https://hailinh.vn/templates/hailinh/images/edit_content.png");
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 25px
}

.admin_edit_block_direct {
  position: absolute;
  z-index: 9999;
  top: 20px;
  padding: 5px;
  background: #ffffff94
}

.admin_edit_block_direct a {
  width: 20px;
  height: 20px;
  background-image: url("https://hailinh.vn/templates/hailinh/images/edit_content.png");
  display: inline-block
}