ul.menu-bottom li.level0 {
  padding-right: 25px;
  box-sizing: border-box;
  float: left;
  width: 40%
}

ul.menu-bottom li.level0:nth-child(2) {
  width: 30%
}

ul.menu-bottom li.level0:nth-child(3) {
  width: 30%
}

@media screen and (max-width: 768px) {
  ul.menu-bottom li.level0 {
    width: 100% !important;
    float: none
  }
}

ul.menu-bottom li.level0 > a, ul.menu-bottom li.level0 > span {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  display: block
}

@media screen and (max-width: 500px) {
  ul.menu-bottom li.level0 > a, ul.menu-bottom li.level0 > span {
    font-size: 14px
  }
}

ul.menu-bottom li.level0:last-child a {
  display: block
}

ul.menu-bottom li.level0:last-child span {
  display: block
}

ul.menu-bottom li.level0 ul {
  margin-top: 4px
}

ul.menu-bottom li.level0 ul li {
  margin-bottom: 12px
}

ul li.level1 a:hover, ul li.level1 span:hover {
  color: #0066b2
}

ul.menu-bottom li.level0 span.click-mobile {
  background: transparent url("https://hailinh.vn/blocks/mainmenu/assets/images/icon-click.png") no-repeat scroll center;
  position: absolute;
  cursor: pointer;
  padding: 0;
  right: 8px;
  top: 8px;
  display: none;
  content: '';
  width: 15px;
  height: 15px;
  z-index: 12
}

ul.menu-bottom li.level0 span.click-mobile.active {
  background: transparent url("https://hailinh.vn/blocks/mainmenu/assets/images/icon-click-active.png") no-repeat scroll center
}

.menu-bottom ul li.mid-sitem > span i {
  background-position: 0px -92px;
  content: ' ';
  height: 36px;
  display: block;
  margin-top: 11px;
  padding-top: 12px;
  width: 131px
}

@media screen and (max-width: 768px) {
  ul.menu-bottom li.level0 {
    float: none;
    width: 100%;
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
    position: relative
  }
  ul.menu-bottom li.level0 span.click-mobile {
    display: block
  }
  ul.menu-bottom li.level0 > a, ul.menu-bottom li.level0 > span {
    display: block;
    padding: 8px;
    margin-bottom: 0
  }
  ul.menu-bottom li.level0 ul {
    display: none
  }
  ul li.level1 {
    border-top: 1px solid #f5f5f5;
    padding: 8px 0px 7px 0px;
    margin-left: 22px
  }
  ul.menu-bottom li.level0 ul li {
    margin-bottom: 0px
  }
  ul li.level1.first-sitem, ul li.level1:first-child {
    border-top: 0
  }
}