.product_menu.inner_:hover #product_menu_ul {
  display: block
}

.menu_label {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  top: 0;
  height: 46px;
  line-height: 48px;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  text-transform: uppercase
}

@media all and (max-width: 1024px) {
  .menu_label {
    padding-left: 0px
  }
}

@media all and (max-width: 500px) {
  .menu_label {
    font-size: 13px;
    padding: 0 10px;
    height: 36px;
    line-height: 36px
  }
}

.menu_label span svg:first-child {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  left: 13px;
  font-size: 12px;
  font-weight: normal;
  width: 19px;
  height: 24px;
  fill: var(--main-color)
}

@media all and (max-width: 1024px) {
  .menu_label span svg:first-child {
    display: none
  }
}

.menu_label span svg:last-child {
  position: absolute;
  top: 14px;
  right: 15px;
  width: 17px;
  height: 17px;
  font-weight: normal
}

@media all and (max-width: 450px) {
  .menu_label span svg:last-child {
    right: 5px;
    top: 12px
  }
}

.product_menu {
  position: relative;
  width: 210px;
  float: left
}

@media all and (max-width: 1140px) {
  .product_menu {
    display: none
  }
}

#product_menu_ul {
  left: 0px;
  top: 100%;
  width: 100%;
  z-index: 11;
  opacity: 1;
  position: absolute
}

#product_menu_ul > ul {
  background: #fff;
  position: relative;
  margin-top: 2px;
  padding: 10px 0px;
  height: 360px
}

#product_menu_ul .view_all {
  position: absolute;
  bottom: 10px;
  width: 100%;
  background: #fff;
  display: block !important
}

#product_menu_ul .height_auto .level_0:nth-child(n+11) {
  display: block !important
}

#product_menu_ul .level_0 {
  box-sizing: border-box
}

#product_menu_ul .level_0:nth-child(n+11) {
  display: none
}

#product_menu_ul .level_0 .level1 {
  position: absolute;
  left: 100%;
  width: 990px;
  top: 50px;
  background: #fff;
  z-index: 3;
  padding: 20px;
  box-sizing: border-box;
  border-left: 3px solid var(--main-color);
  opacity: 0;
  box-shadow: 1px 0px 3px 0px rgba(30, 87, 153, 0.2);
  transition: .4s;
  visibility: hidden;
  height: 100%;
  overflow: hidden
}

#product_menu_ul .level_0 .level1 .col-number {
  width: calc(100% / 5);
  float: left
}

#product_menu_ul .level_0 .level1 .subcat {
  overflow-y: scroll;
  height: 100%
}

#product_menu_ul .level_0 .level1 .subcat .col > a {
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 5px;
  display: block
}

#product_menu_ul .level_0 .level1 .subcat .col .manu a {
  display: block;
  line-height: 27px
}

#product_menu_ul .level_0:hover .level1 {
  visibility: visible;
  opacity: 1;
  top: 0px
}

#product_menu_ul .level_0:hover {
  cursor: pointer;
  border-left: 4px solid var(--activated-color);
  -webkit-transition: 0.15s ease-in-out all;
  transition: 0.15s ease-in-out all
}

#product_menu_ul .level_0:hover .drop_down_up {
  transform: rotate(-45deg)
}

.sub-menu-level1:hover {
  cursor: pointer;
  border-left: 1px solid var(--activated-color);
  -webkit-transition: 0.15s ease-in-out all;
  transition: 0.15s ease-in-out all
}

.sub-menu-level1:hover .cat_filters_home_wrapper_sub_level2 {
  top: -1px;
  opacity: 1;
  visibility: visible;
  transition: .5s;
  z-index: 999
}

.sub-menu-level1:hover .drop_down_up_1 {
  transform: rotate(-45deg)
}

#product_menu_ul .level_0:hover .menu_item_a {
  background: var(--main-color)
}

#product_menu_ul .level_0:hover .menu_item_a > svg {
  fill: #fff
}

#product_menu_ul .level_0:hover .menu_item_a .text-menu {
  color: #fff
}

#product_menu_ul .level_0:hover .menu_item_a .icon_svg svg {
  fill: #fff
}

#product_menu_ul .level_0 .menu_item_a {
  display: block;
  padding: 9px 0px 9px 13px;
  box-sizing: border-box;
  transition: .5s;
  color: #000;
  position: relative
}

#product_menu_ul .level_0 .menu_item_a > svg {
  position: absolute;
  right: 10px;
  top: 13px;
  fill: gray
}

#product_menu_ul .level_0 .icon_svg {
  float: left
}

#product_menu_ul .level_0 .icon_svg svg {
  width: 20px;
  height: 20px;
  fill: #000;
  transition: .5s
}

#product_menu_ul .level_0 .img-menu {
  margin-right: 7px;
  float: left
}

#product_menu_ul .level_0 .text-menu {
  transition: 0.5s;
  font-size: 15px
}

#product_menu_ul .level_0.level_1_same_0 {
  border-bottom: medium none;
  padding: 2px 0 2px 12px
}

#product_menu_ul .level_0.level_1_same_0 .text-menu {
  font-weight: normal;
  padding-left: 29px
}

#product_menu_ul .level_0:hover .highlight {
  display: flex
}

#product_menu_ul .second-level-menu ul li {
  padding: 4px 0 4px 16px
}

#product_menu_ul .field_name {
  border-bottom: medium none;
  color: #2E2E2E;
  font-weight: bold;
  padding: 10px 25px;
  width: 178px
}

#product_menu_ul .sub-menu-level0 {
  margin-bottom: 2px
}

#product_menu_ul .sub-menu-level0 a {
  color: #3F3F3F;
  font-weight: bold
}

#product_menu_ul .sub-menu-level1 > a {
  display: block;
  color: #3d3d3d
}

#product_menu_ul .sub-menu-level1 > a:hover {
  color: var(--main-color)
}

#product_menu_ul .sub-menu-level1 .image_sub {
  display: none
}

#product_menu_ul .second_field {
  border-top: 1px dotted #D3D3D3;
  margin-top: 10px
}

#product_menu_ul .field_name h3 {
  color: #000;
  margin-bottom: 4px
}

#product_menu_ul .field_name h3 a {
  color: #000;
  margin-bottom: 4px
}

#product_menu_ul .field_name .read_more a {
  color: #348AD4;
  text-decoration: underline
}

#product_menu_ul .field_label {
  color: #3F3F3F;
  margin-bottom: 5px
}

.cat_filters_home_wrapper > ul.cat_filters_home_ul {
  box-sizing: border-box
}

#product_menu_ul .sub-manu-level1 {
  padding: 4px 10px;
  width: 25%;
  float: left;
  box-sizing: border-box
}

@media screen and (max-width: 330px) {
  .menu_label span font {
    display: none
  }
}

.cat_filters_home_wrapper {
  position: absolute;
  left: 100%;
  width: 240px;
  background-color: #fff;
  border: 1px solid #b7b2b230;
  box-sizing: border-box;
  top: 100px;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
  z-index: -1
}

.level_0:hover .cat_filters_home_wrapper {
  top: -1px;
  transition: .5s;
  opacity: 1;
  visibility: visible;
  z-index: 999
}

.sub-menu-level1 {
  box-sizing: border-box;
  position: relative;
  text-align: left
}

.sub-menu-level1 a {
  padding: 15px 0;
  display: block;
  margin: 0 20px;
  border-bottom: 1px solid #b7b2b230
}

.sub-menu-level2 a {
  font-size: 13px;
  color: #3d3d3d
}

.sub-menu-level2 a:hover {
  color: var(--main-color)
}

.cat_filters_home_wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--gray-color)
}

.cat_filters_home_wrapper::-webkit-scrollbar {
  width: 2px;
  background-color: #515151
}

.cat_filters_home_wrapper::-webkit-scrollbar-thumb {
  background-color: #515151
}

.drop_down_up, .drop_down_up_1 {
  display: block;
  width: 8px;
  height: 8px;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  position: absolute;
  right: 20px;
  top: 18px;
  transform: rotate(45deg);
  transition: .2s
}

.cat_filters_home_wrapper_sub_level2 {
  position: absolute;
  left: 100%;
  width: 100%;
  background: #fff;
  border: 1px solid #b7b2b230;
  top: 100px;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  z-index: -111
}

@media screen and (max-width: 1024px) {
  #product_menu_ul .level_0 .menu_item_a {
    padding: 10.3px 0px
  }
  #product_menu_ul .level_0 .text-menu {
    font-size: 13px
  }
  #product_menu_ul .level_0 svg {
    width: 15px;
    height: 15px
  }
}

.product_menu .menu .level_0 .menu_manu {
  width: 935px;
  box-sizing: border-box;
  top: 0px;
  opacity: 0;
  display: none;
  position: absolute;
  left: 100%;
  background: #fff;
  z-index: 999;
  height: 100%;
  border: 1px solid var(--border-color);
  box-shadow: 1px 0px 7px 0px rgba(30, 87, 153, 0.2)
}

.product_menu .menu .level_0 .menu_manu .ul_manu_menu {
  padding: 10px 20px
}

.product_menu .menu .level_0 .menu_manu .ul_manu_menu .level_1 {
  width: 33.33%;
  float: left;
  padding: 10px 0px
}

.product_menu .menu .level_0:hover .menu_manu {
  display: block;
  opacity: 1
}

#product_menu_ul .level_0 .menu_item_a:last-child {
  border-bottom: none
}

.wrapper_wrap_top.slide-down .product_menu #product_menu_ul {
  display: none
}

.wrapper_wrap_top.slide-up .product_menu #product_menu_ul {
  display: none
}

.wrapper_wrap_top.slide-up .product_menu:hover #product_menu_ul {
  display: block
}