.title_share {
  float: left;
  margin-top: 6px;
  margin-right: 24px
}

@media all and (max-width: 1177px) {
  .title_share {
    float: none
  }
}

@media all and (max-width: 680px) {
  .title_share {
    text-align: center;
    margin-right: 0px
  }
}

.share_fast_small {
  text-align: left
}

@media all and (max-width: 750px) {
  .share_fast_small {
    margin-bottom: 0px
  }
}

@media all and (max-width: 680px) {
  .share_fast_small {
    text-align: center;
    margin-bottom: 0px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 6px;
    width: 82px
  }
}

.share_fast_small svg {
  transition: 0.5s;
  width: 20px;
  height: 20px
}

.share_fast_small svg:hover {
  transition: 0.5s
}

.share_fast_small .title {
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
  border-bottom: 0px;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  padding-top: 0;
  font-family: Helvetica
}

.share_fast_small .title::after {
  display: none
}

.share_fast_small .fb, .share_fast_small .prin, .share_fast_small .zl, .share_fast_small .gp, .share_fast_small .yt, .share_fast_small .sk, .share_fast_small .tw {
  width: 30px;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 11px;
  float: right;
  border-radius: 50%;
  transition: 0.5s
}

@media all and (max-width: 1177px) {
  .share_fast_small .fb, .share_fast_small .prin, .share_fast_small .zl, .share_fast_small .gp, .share_fast_small .yt, .share_fast_small .sk, .share_fast_small .tw {
    float: left;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 5px
  }
}

.share_fast_small .fb svg, .share_fast_small .prin svg, .share_fast_small .zl svg, .share_fast_small .gp svg, .share_fast_small .yt svg, .share_fast_small .sk svg, .share_fast_small .tw svg {
  fill: #fff;
  transition: 0.5s
}

.share_fast_small .fb:hover, .share_fast_small .prin:hover, .share_fast_small .zl:hover, .share_fast_small .gp:hover, .share_fast_small .yt:hover, .share_fast_small .sk:hover, .share_fast_small .tw:hover {
  background: #fff
}

.share_fast_small .fb:hover svg, .share_fast_small .prin:hover svg, .share_fast_small .zl:hover svg, .share_fast_small .gp:hover svg, .share_fast_small .yt:hover svg, .share_fast_small .sk:hover svg, .share_fast_small .tw:hover svg {
  fill: #f56437
}

.share_fast_small .zl {
  padding: 0
}

.share_fast_small .zl svg {
  width: 30px;
  height: 30px
}

.share_fast_small .fb {
  background: #0d3a80
}

.share_fast_small .in {
  background: #0632d0
}

.share_fast_small .tw {
  background: #29a5d9
}

.share_fast_small .gp {
  background: #dc4335
}

.share_fast_small .yt {
  background: #dc4335
}