w193px {
  width: 193px !important
}

.shopcart-fixed-right {
  position: fixed;
  top: 135px;
  right: 2px;
  z-index: 99;
  background: rgba(255, 255, 255, 0.88);
  border: solid 1px #ddd;
  border-radius: 35px;
  -moz-border-radius: 35px;
  cursor: pointer;
  width: 55px;
  height: 52px;
  overflow: hidden;
  transition: width 0.3s linear 0.2s;
  -webkit-transition: width 0.3s linear 0.2s;
  line-height: 18px;
  white-space: nowrap;
  font-size: 13px;
  box-sizing: border-box
}

.shopcart-fixed-right:hover {
  width: 193px
}

@media only screen and (max-width: 500px) {
  .shopcart-fixed-right {
    display: none
  }
}

.shopcart-fixed-right .content-fixed-right {
  padding: 6px 8px 6px 8px;
  box-sizing: border-box
}

.shopcart-fixed-right .buy_icon {
  display: inline-block;
  padding: 5px 8px;
  background: var(--main-color);
  border-radius: 35px;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  content: "";
  position: relative
}

.shopcart-fixed-right .buy_icon svg {
  height: 25px;
  width: 25px;
  fill: #fff;
  position: absolute;
  top: 7px
}

.shopcart-fixed-right .box-text-r {
  width: calc(100% - 49px);
  float: right
}

.shopcart-fixed-right .box-text-r span {
  display: block
}

.shopcart-fixed-right .box-text-r .quality {
  font-weight: bold;
  color: var(--blue-color)
}