wapper-content-page {
  margin-top: 30px
}

@media all and (max-width: 500px) {
  .wapper-content-page {
    margin-top: 15px
  }
}

.manus-cate {
  width: 185px;
  float: left;
  position: relative
}

@media only screen and (max-width: 768px) {
  .manus-cate {
    display: none
  }
}

.manus-cate .item > a {
  display: block;
  padding: 13px 18px;
  position: relative
}

.manus-cate .item svg {
  float: right;
  margin-top: 4px
}

.manus-cate .item:hover {
  color: #fff
}

.manus-cate .item:hover > a {
  color: #fff
}

.manus-cate .item:hover svg {
  fill: #fff
}

.manus-cate .item:hover .filter-subcat-manu {
  top: 0px;
  visibility: visible;
  opacity: 1;
  z-index: 2
}

.manus-cate .filter-subcat-manu {
  position: absolute;
  left: 100%;
  background: transparent;
  width: 260px;
  height: 100%;
  border-left: 1px solid #e7e7e77d;
  box-sizing: border-box;
  top: 50px;
  transition: .4s;
  visibility: hidden;
  opacity: 0
}

.manus-cate .filter-subcat-manu a {
  display: block;
  line-height: 40px;
  background: #fff;
  padding: 0px 10px
}

.view-all-total {
  text-align: center;
  display: none;
  width: 100%;
  color: var(--main-color);
  padding: 10px
}

.view-all-total span {
  font-weight: bold
}

@media only screen and (max-width: 500px) {
  .view-all-total {
    display: block
  }
}

.product_grid {
  display: block;
  background: #fff
}

.product_grid .item_special {
  width: 40%;
  padding: 0px
}

.product_grid .item_special .frame_inner {
  padding: 0px;
  position: relative
}

@media only screen and (max-width: 1200px) {
  .product_grid .item_special {
    display: none
  }
}

@media only screen and (max-width: 500px) {
  .product_grid .item_special {
    display: block;
    width: 100% !important
  }
}

.item_special .doi-1 {
  left: 0px;
  top: -242px
}

.product_grid_home {
  border: none;
  width: calc(100% - 185px);
  float: left;
  margin: 0px
}

.product_grid_home .item {
  width: calc(100% / 3 - 14px) !important;
  margin: 7px;
  border: 1px solid #e7e7e77d !important
}

@media only screen and (max-width: 500px) {
  .product_grid_home .item {
    width: calc(100% / 2 - 14px) !important
  }
}

@media only screen and (max-width: 768px) {
  .product_grid_home {
    width: 100%;
    float: none;
    display: none
  }
}

.view-more-manu {
  display: none
}

@media only screen and (max-width: 768px) {
  .view-more-manu {
    display: block;
    text-align: center;
    font-size: 12px
  }
  .view-more-manu svg {
    width: 33px;
    height: 33px;
    fill: #ababab
  }
}

.view_all_cat_item {
  text-align: center;
  margin-top: 15px
}

@media only screen and (max-width: 768px) {
  .view_all_cat_item {
    display: none
  }
}

@media only screen and (max-width: 500px) {
  .view_all_cat_item {
    margin-top: 6px
  }
}

.view_all_cat_item a {
  display: inline-block;
  color: red;
  padding: 5px 0px;
  border: 1px solid red;
  width: 230px;
  border-radius: 3px
}

@media only screen and (max-width: 768px) {
  .view_all_cat_item a {
    padding: 4px 0px 3px;
    border: 1px solid red;
    width: 122px
  }
}

@media only screen and (max-width: 375px) {
  .view_all_cat_item a {
    padding: 2px 0px 1px;
    border: 1px solid red;
    width: 110px;
    font-size: 13px
  }
}

.cat_item_store .cate_image {
  width: 292px
}

@media only screen and (max-width: 1040px) {
  .cat_item_store .cate_image {
    display: none
  }
}

.cat_item_store .row_inner {
  width: calc(100% - 292px);
  padding: 7px;
  box-sizing: border-box
}

@media only screen and (max-width: 1040px) {
  .cat_item_store .row_inner {
    width: 100%;
    float: none
  }
}

.cat_item_store:nth-child(odd) .cate_image {
  float: left
}

.cat_item_store:nth-child(odd) .row_inner {
  float: right
}

.cat_item_store:nth-child(even) .cate_image {
  float: right
}

.cat_item_store:nth-child(even) .row_inner {
  float: left
}

.item_special_t {
  padding: 20px 0px 13px 0px;
  overflow: hidden;
  min-height: 185px
}

.product_grid_home .item_special_t:hover .item_special_l {
  transform: scale(1.11)
}

.pull-left .view_all {
  display: none
}

.item_special_l {
  width: 200px;
  float: left;
  transition: all .4s ease-out
}

@media only screen and (max-width: 500px) {
  .item_special_l {
    width: 100%;
    text-align: center
  }
}

.item_special_l figure {
  margin-bottom: 0px !important
}

.item_special_l .product_image {
  overflow: initial !important
}

.item_special_l .shadow {
  position: absolute;
  opacity: 0.3;
  bottom: -179px;
  left: 31px;
  transform: rotateX(180deg)
}

@media only screen and (max-width: 500px) {
  .item_special_l .shadow {
    display: none !important
  }
}

@keyframes chang-rotage-anim-3 {
  0% {
    transform: rotate(0deg) scale(1) skew(0)
  }
  10% {
    transform: rotate(0deg) scale(1) skew(0)
  }
  65% {
    transform: rotate(-15deg) scale(1.1) skew(1deg)
  }
  70% {
    transform: rotate(15deg) scale(1) skew(1deg)
  }
  75% {
    transform: rotate(-15deg) scale(1.1) skew(1deg)
  }
  80% {
    transform: rotate(15deg) scale(1) skew(1deg)
  }
  85% {
    transform: rotateY(360deg) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
}

.item_special_r {
  width: calc(100% - 200px);
  float: right;
  color: #fff
}

@media only screen and (max-width: 500px) {
  .item_special_r {
    display: none
  }
}

.item_special_r a:hover {
  text-decoration: none
}

.item_special_r .name_core {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 5px
}

.item_special_r .name_display {
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  text-align: center
}

.item_special_r .price-txt {
  text-align: center;
  margin-top: 6px
}

.item_special_r .price_old {
  display: block !important
}

.item_special_r .price_arae {
  text-align: center
}

.item_special_r .price_arae .price_current {
  font-size: 25px !important;
  font-weight: normal !important;
  display: inline-block !important;
  padding: 15px;
  background: #ffffff14;
  color: #fff;
  margin-bottom: 8px;
  margin-top: -8px;
  position: relative
}

.item_special_r .price_arae .price_current .bf {
  width: 23px;
  height: 23px;
  border-left: 1px solid #fffefe9c;
  border-bottom: 1px solid #fffefe9c;
  left: 0px;
  bottom: 0px;
  position: absolute
}

.item_special_r .price_arae .price_current .af {
  width: 23px;
  height: 23px;
  border-right: 1px solid #fffefe9c;
  border-top: 1px solid #fffefe9c;
  right: 0px;
  top: 0px;
  position: absolute
}

.item_special_r .special_gifts {
  font-size: 12px;
  position: relative;
  padding-left: 70px
}

.item_special_r .special_gifts span {
  position: absolute;
  left: 14px;
  bottom: 2px
}

.item_special_r .special_gifts span svg#Layer_1 {
  width: 45px;
  height: 45px
}

.item_special_bt {
  padding: 20px
}

.item_special_bt a.name {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: normal;
  color: black
}

.item_special_bt .style_types {
  float: right;
  margin-top: -3px;
  text-align: center
}

.item_special_bt .price_current {
  display: inline-block
}

.gift {
  font-size: 12px;
  color: #777777;
  margin-bottom: 6px;
  margin-top: 9px
}

#dt-phu-kien {
  display: none
}

.cat_item_store {
  margin-top: 30px;
  background: #FFF;
  overflow: hidden;
  clear: both;
}

.cat_item_store:first-child {
  margin-top: 0px
}

@media only screen and (max-width: 500px) {
  .cat_item_store {
    margin-top: 15px
  }
}

.cat-title {
  line-height: 46px;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #e7e7e77d
}

@media only screen and (max-width: 768px) {
  .cat-title {
    line-height: 40px;
    text-align: center
  }
}

.cat-title .cat-title-main {
  float: left;
  line-height: 46px
}

@media only screen and (max-width: 768px) {
  .cat-title .cat-title-main {
    line-height: 40px;
    float: none
  }
}

.cat-title .cat-title-main > a {
  margin-left: 18px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px
}

.cat-title .cat-title-main > a span {
  color: black
}

@media only screen and (max-width: 768px) {
  .cat-title .cat-title-main > a {
    margin-left: 10px
  }
}

@media only screen and (max-width: 500px) {
  .cat-title .cat-title-main > a {
    font-size: 16px
  }
}

@media only screen and (max-width: 377px) {
  .cat-title .cat-title-main > a {
    height: 27px;
    width: 200px;
    overflow: hidden;
    display: inline-block;
    margin-top: 2px
  }
}

.cat-title .nav-tabs {
  float: right;
  display: flex
}

.item_tabs .scroll_bar {
  height: 400px;
  overflow-y: scroll
}

.cat-title .nav-tabs .item_tabs {
  margin-right: 12px;
  margin-left: 15px;
  position: relative
}

.cat-title .nav-tabs .item_tabs:hover .sub_cat_lv2 {
  top: 48px;
  visibility: visible;
  opacity: 1
}

.cat-title .nav-tabs .item_tabs .sub_cat_lv2 {
  position: absolute;
  background: #fff;
  right: -12px;
  z-index: 11;
  top: 100px;
  transition: .4s;
  visibility: hidden;
  opacity: 0;
  width: auto;
  white-space: nowrap
}

.cat-title .nav-tabs .item_tabs .sub_cat_lv2 > li > a {
  display: block;
  padding: 0px 10px 0px 34px;
  position: relative;
  line-height: 36px
}

.cat-title .nav-tabs .item_tabs .sub_cat_lv2 > li > a > svg {
  transform: rotate(180deg);
  position: absolute;
  left: 11px;
  top: 13px
}

.cat-title .nav-tabs .item_tabs .sub_cat_lv2 > li > a:hover {
  background: red;
  color: #fff
}

.cat-title .nav-tabs .item_tabs .sub_cat_lv2 > li > a:hover svg {
  fill: #fff
}

.cat-title .nav-tabs .item_tabs .sub_cat_lv2 > li:hover .sub_cat_lv2_filter {
  top: 0px !important;
  visibility: visible !important;
  opacity: 1 !important
}

.cat-title .nav-tabs .item_tabs .sub_cat_lv2 .sub_cat_lv2_filter {
  position: absolute;
  width: 240px;
  background: #fff;
  left: -100%;
  top: 50px;
  transition: .4s;
  visibility: hidden;
  opacity: 0;
  box-sizing: border-box
}

.cat-title .nav-tabs .item_tabs .sub_cat_lv2 .sub_cat_lv2_filter li a {
  display: block;
  padding: 0px 18px
}

.cat-title .nav-tabs .item_tabs > a {
  padding: 16px 0px;
  font-size: 13px
}

.title_icon {
  width: 40px;
  height: 50px;
  float: left;
  background: #00A7F4;
  margin-left: -1px;
  margin-top: -1px;
  margin-bottom: -1px;
  position: relative;
  display: none
}

.title_icon i {
  position: absolute;
  content: ' ';
  width: 22px;
  height: 26px;
  top: 13px;
  left: 16px;
  z-index: 10
}

.title_icon::before {
  content: '';
  position: absolute;
  top: 0px;
  right: -19px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 19px;
  border-color: transparent transparent transparent #00A7F4
}

#cat-dien-thoai .title_icon i, #cat-iphone .title_icon i {
  background-position: -85px -64px
}

#cat-phu-kien .title_icon i {
  background-position: -113px -64px;
  width: 29px;
  height: 26px;
  top: 13px;
  left: 12px
}

#cat-may-tinh-bang .title_icon i {
  background-position: -229px -77px
}

#cat-dich-vu .title_icon i {
  background-position: -273px -125px;
  height: 31px;
  left: 13px;
  top: 11px
}

#cat-dich-vu-sua-chua .title_icon i {
  background-position: -305px -124px;
  height: 31px;
  left: 13px;
  top: 11px
}

@media only screen and (max-width: 768px) {
  .cat-title .nav-tabs {
    display: none
  }
}

@media only screen and (max-width: 500px) {
  #cat_item_store_136 {
    display: none
  }
  .home_pos_2 {
    display: none
  }
}

.view-all-mobile-home {
  display: none;
  float: right;
  padding-right: 10px;
  position: relative;
  color: red
}

.view-all-mobile-home svg {
  fill: red
}

@media only screen and (max-width: 768px) {
  .view-all-mobile-home {
    display: inline-block
  }
}

.product_grid_home_mobile {
  display: none
}

@media only screen and (max-width: 768px) {
  .product_grid_home_mobile {
    display: block
  }
}

.product_grid_home_mobile .category-mobile .category-mobile-style-1 {
  display: flex;
  flex-wrap: wrap
}

.product_grid_home_mobile .category-mobile .category-mobile-style-1 > a {
  width: calc(100% / 6);
  padding: 10px;
  display: block;
  text-align: center;
  box-sizing: border-box
}

.product_grid_home_mobile .category-mobile .category-mobile-style-1 > a .image {
  display: block;
  padding: 14px 14px 10px;
  border: 1px solid #e7e7e77d;
  box-sizing: border-box;
  border-radius: 16px;
  margin-bottom: 6px;
  min-height: 93px
}

.product_grid_home_mobile .category-mobile .category-mobile-style-1 > a .name {
  font-weight: bold;
  display: inline-block;
  font-size: 13px
}

@media only screen and (max-width: 650px) {
  .product_grid_home_mobile .category-mobile .category-mobile-style-1 > a {
    width: calc(100% / 3)
  }
}

@media only screen and (max-width: 420px) {
  .product_grid_home_mobile .category-mobile .category-mobile-style-1 > a {
    padding: 10px 5px 0px
  }
}

@media only screen and (max-width: 340px) {
  .product_grid_home_mobile .category-mobile .category-mobile-style-1 > a .name {
    font-size: 11px
  }
}

.product_grid_home_mobile .category-mobile .category-mobile-style-2 .category-mobile-style-2-inner {
  padding: 5px;
  display: flex;
  flex-wrap: wrap
}

.product_grid_home_mobile .category-mobile .category-mobile-style-2 .category-mobile-style-2-inner > a {
  width: calc(100% / 4);
  padding: 5px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  float: left
}

.product_grid_home_mobile .category-mobile .category-mobile-style-2 .category-mobile-style-2-inner > a .image {
  display: block;
  padding: 10px 10px 7px;
  border: 1px solid #e7e7e77d;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 6px;
  min-height: 45px
}

.product_grid_home_mobile .category-mobile .category-mobile-style-2 .category-mobile-style-2-inner > a .name {
  display: inline-block;
  font-size: 13px
}

@media only screen and (max-width: 340px) {
  .product_grid_home_mobile .category-mobile .category-mobile-style-2 .category-mobile-style-2-inner > a .name {
    font-size: 12px
  }
}

.product_grid_home_mobile .manufactory-mobile {
  margin-top: 15px
}

.product_grid_home_mobile .manufactory-mobile .manu-name {
  text-align: center;
  color: #7d7d7d
}

.product_grid_home_mobile .manufactory-mobile .manus-cate-mobile {
  margin-top: 5px
}

.product_grid_home_mobile .manufactory-mobile .item-top a {
  width: calc(25% - 10px);
  float: left;
  display: grid;
  text-align: center;
  margin: 5px;
  box-sizing: border-box;
  border: 1px solid #f6f6f6;
  padding: 5px;
  min-height: 75px
}

.product_grid_home_mobile .manufactory-mobile .item-top a img {
  width: 100%;
  margin: 0 auto
}

@media only screen and (max-width: 500px) {
  .product_grid_home_mobile .manufactory-mobile .item-top a {
    width: calc(50% - 10px)
  }
}

.product_grid_home_mobile .manufactory-mobile .manus-cate-mobile-style1 .manu-scroll {
  overflow-x: auto;
  padding: 5px 10px 10px;
  background: #fff
}

.product_grid_home_mobile .manufactory-mobile .manus-cate-mobile-style1 .manu-scroll .manu-scroll-inner {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #f6f6f6;
  border-left: 1px solid #f6f6f6
}

.product_grid_home_mobile .manufactory-mobile .manus-cate-mobile-style1 .manu-scroll .manu-scroll-inner a {
  width: calc(100% / 4);
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  border-right: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6
}

.product_grid_home_mobile .manufactory-mobile .manus-cate-mobile-style2 {
  padding: 5px 0px
}

.product_grid_home_mobile .manufactory-mobile .manus-cate-mobile-style2 a {
  display: block;
  width: calc(100% / 3 - 10px);
  float: left;
  border: 1px solid #f6f6f6;
  margin: 5px 5px;
  padding: 5px;
  box-sizing: border-box;
  min-height: 100px
}

@media only screen and (max-width: 500px) {
  .product_grid_home_mobile .manufactory-mobile .manus-cate-mobile-style2 a {
    width: calc(50% - 10px);
    min-height: 70px
  }
}