.newslist_list_slideshow .item_large .title {
  font-weight: bold;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden
}

.newslist_list_slideshow .new_image {
  position: relative;
  overflow: hidden;
  min-height: 210px;
  max-height: 212px
}

.newslist_list_slideshow .new_image img {
  width: 100%;
  transform: scale(1.05);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s
}

@media all and (max-width: 1090px) {
  .newslist_list_slideshow .new_image {
    min-height: 177px
  }
}

@media all and (max-width: 420px) {
  .newslist_list_slideshow .new_image {
    min-height: 150px
  }
}

.newslist_list_slideshow .list_news .item {
  position: relative;
  padding: 9px 10px 9px 15px;
  border-top: 1px solid #eee
}

.newslist_list_slideshow .list_news .item:after {
  width: 6px;
  height: 6px;
  position: absolute;
  left: 0px;
  top: 15px;
  background: var(--main-color);
  content: ""
}

.newslist_list_slideshow .list_news .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden
}