.slide-image-address {
  width: calc(50% - 20px);
  float: right;
  position: relative;
  height: 352px;
  overflow: hidden
}

.slide-image-address .regions_slide_item {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 0px
}

.slide-image-address .active {
  display: block;
  visibility: visible;
  opacity: 1;
  z-index: 22
}

.slide-image-address .owl-controls .owl-nav {
  position: absolute;
  top: 43%;
  height: 0;
  width: 100%
}

.slide-image-address .owl-controls .owl-nav div {
  display: inline-block;
  zoom: 1;
  position: absolute;
  padding: 6px 0 0;
  margin: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 5px;
  background: #0000007a;
  width: 36px;
  height: 36px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-family: -webkit-body;
  line-height: 16px;
  box-sizing: border-box
}

.slide-image-address .owl-controls .owl-prev {
  left: 10px
}

.slide-image-address .owl-controls .owl-next {
  right: 10px
}

@media all and (max-width: 1000px) {
  .slide-image-address {
    width: 100%;
    float: none;
    display: none
  }
}

.block_address_tab .tab {
  overflow: hidden
}

.block_address_tab .tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 10px 0px;
  transition: 0.3s;
  font-size: 14px;
  position: relative;
  width: 153px;
  background: none;
  text-transform: uppercase;
  border: 1px solid #eee
}

.block_address_tab .tab button:nth-child(2) {
  border-left: 0px solid #eee;
  border-right: 0px solid #eee
}

@media all and (max-width: 736px) {
  .block_address_tab .tab button {
    text-transform: unset;
    font-size: 14px
  }
}

@media only screen and (max-width: 500px) {
  .block_address_tab .tab button {
    width: calc(100% / 3)
  }
}

.block_address_tab .tab .icon {
  font-size: 28px;
  position: absolute;
  top: 13px;
  left: 20px
}

.block_address_tab .tab .icon1 {
  font-size: 24px;
  position: absolute;
  top: 14px;
  left: 20px
}

.block_address_tab .tab button:hover {
  background: var(--main-color);
  color: white
}

.block_address_tab .tab button.active {
  background: var(--main-color);
  color: #fff
}

.block_address_tab .tabcontent {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px
}

@media all and (max-width: 650px) {
  .block_address_tab .tabcontent {
    margin: 0px
  }
}

.block_address_tab .tabcontent .regions {
  line-height: 22px;
  width: calc(100% / 4 - 14px);
  margin: 0px 7px;
  border: 1px solid #ededed;
  box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 10px;
  background: #ededed0a
}

@media all and (max-width: 650px) {
  .block_address_tab .tabcontent .regions {
    width: 100%;
    margin: 0px 0px 10px 0px
  }
}

.block_address_tab .tabcontent .regions .name {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px
}

@media all and (max-width: 500px) {
  .block_address_tab .tabcontent .regions .name {
    font-size: 14px
  }
}

@media all and (max-width: 500px) {
  .block_address_tab .tabcontent .regions .address {
    margin-top: 6px;
    line-height: 20px
  }
}

.block_address_tab .tabcontent .regions .other > div {
  margin-top: 7px
}

@media all and (max-width: 500px) {
  .block_address_tab .tabcontent .regions .other {
    margin-top: 10px
  }
  .block_address_tab .tabcontent .regions .other > div {
    margin-top: 2px
  }
}

.block_address_tab .tabcontent .regions:last-child .colum_4_it {
  margin-bottom: 7px
}

.block_address_tab .tabcontent .active {
  visibility: visible;
  opacity: 1;
  display: block
}

.block_address_tab .tabcontent .bt-buttom {
  margin-top: 25px
}

.block_address_tab .tabcontent .bt-buttom a {
  padding: 11px 11px 8px 33px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  background: var(--main-color);
  text-transform: uppercase;
  color: #fff;
  margin-right: 5px
}

@media all and (max-width: 925px) {
  .block_address_tab .tabcontent .bt-buttom a {
    margin-bottom: 10px
  }
}

.block_address_tab .tabcontent .bt-buttom a svg {
  width: 13px;
  height: 13px;
  fill: #fff;
  position: absolute;
  left: 12px;
  top: 15px
}

.block_address_tab .tabcontent .bt-buttom a:nth-child(2) {
  background: red
}

.block_address_tab .tabcontent .bt-buttom a:nth-child(3) {
  background: linear-gradient(90deg, #f73737 9%, #e02020 35%, #d21616 92%, #af1212 100%);
  border-radius: 20px;
  font-size: 17px
}

.block_address_tab .tabcontent .bt-buttom a:nth-child(3) span {
  display: inline-block;
  width: 34px;
  height: 34px;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 2px solid #e80b0b;
  border-radius: 50%;
  background: #fff
}

.block_address_tab .tabcontent .bt-buttom a:nth-child(3) span svg {
  position: inherit;
  left: 7px;
  top: 7px;
  fill: #f10505;
  width: 18px;
  height: 20px
}

@media all and (max-width: 500px) {
  .block_address_tab .tabcontent .bt-buttom {
    margin-top: 15px
  }
  .block_address_tab .tabcontent .bt-buttom a {
    padding: 8px 6px 5px 25px;
    font-size: 12px;
    margin-right: 0px
  }
  .block_address_tab .tabcontent .bt-buttom a svg {
    left: 7px;
    top: 10px
  }
  .block_address_tab .tabcontent .bt-buttom a:nth-child(3) {
    padding-left: 34px
  }
  .block_address_tab .tabcontent .bt-buttom a:nth-child(3) span {
    width: 27px;
    height: 27px
  }
  .block_address_tab .tabcontent .bt-buttom a:nth-child(3) span svg {
    width: 14px;
    height: 14px
  }
}

@media all and (max-width: 355px) {
  .block_address_tab .tabcontent .bt-buttom {
    margin-top: 15px
  }
  .block_address_tab .tabcontent .bt-buttom a {
    padding: 8px 6px 5px 8px
  }
  .block_address_tab .tabcontent .bt-buttom a svg {
    display: none
  }
  .block_address_tab .tabcontent .bt-buttom a:nth-child(3) {
    padding-left: 8px
  }
  .block_address_tab .tabcontent .bt-buttom a:nth-child(3) span {
    display: none
  }
}

.block_address_tab_fix_content {
  padding: 24px 15px;
  border: 1px solid #ededed;
  margin-top: 26px;
  border-radius: 5px
}

.block_address_tab_fix_content .item {
  position: relative;
  padding-left: 30px;
  margin: 0px 10px;
  float: left;
  box-sizing: border-box;
  font-size: 14px
}

.block_address_tab_fix_content .item:nth-child(1) {
  width: calc(37% - 20px)
}

.block_address_tab_fix_content .item:nth-child(2) {
  width: calc(26% - 20px)
}

.block_address_tab_fix_content .item:nth-child(3) {
  width: calc(37% - 20px)
}

.block_address_tab_fix_content .item svg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: -2px;
  fill: #000
}

@media all and (max-width: 920px) {
  .block_address_tab_fix_content {
    padding: 20px 10px 10px
  }
  .block_address_tab_fix_content .item {
    width: 100% !important;
    float: none;
    margin: 0px 0px 12px;
    line-height: 22px
  }
  .block_address_tab_fix_content .item svg {
    top: 1px
  }
}

@media all and (max-width: 420px) {
  .block_address_tab_fix_content {
    margin-top: 10px
  }
}