.megamenu_mb, .highlight {
  position: fixed;
  width: 500px;
  height: 100vh;
  background: #fff;
  z-index: 999;
  padding: 0px 0px;
  box-sizing: border-box;
  top: 0;
  left: -100%;
  transition: all 0.5s
}
@media screen and (max-width: 768px) {
  .megamenu_mb, .highlight {
    width: 80%
  }
}

.megamenu_mb_show {
  left: 0
}
.modal-menu-full-screen-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: #0000008c;
  z-index: -99;
  opacity: 0;
  transition: .5s
}

.show_screen {
  z-index: 990;
  opacity: 1
}

.close_all {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  right: -40px;
  top: 10px
}

.close_all .navicon-line {
  width: 16px;
  height: 1px;
  border-radius: 1px;
  margin-bottom: 0px;
  background-color: #fff;
  transition: .5s;
  position: absolute;
  left: 0;
  top: 0
}

.close_all .navicon-line:nth-child(1) {
  transform: rotate(45deg) translate(15px, 5px)
}

.close_all .navicon-line:nth-child(2) {
  transform: rotate(-45deg) translate(-5px, 15px)
}

.megamenu_mb .label {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid var(--body-color);
  font-size: 15px;
  position: relative
}

.megamenu_mb li {
  position: relative;
  border-bottom: 1px solid #eee;
  box-sizing: border-box
}

.megamenu_mb li a, .megamenu_mb li span {
  display: flex;
  align-items: center;
  float: none;
  padding: 10px 10px 10px 11px
}

.megamenu_mb li svg {
  width: 16px;
  margin-right: 10px;
  fill: var(--main-color);
  height: 16px
}

.megamenu_mb .next_menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 40px;
  border-left: 1px solid var(--body-color);
  z-index: 99
}

.megamenu_mb .label:after, .megamenu_mb .label:before, .megamenu_mb .next_menu:after, .megamenu_mb .next_menu:before {
  width: 7px;
  height: 7px;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  position: absolute;
  content:"";
  left: calc(50% - 3px);
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg)
}

.megamenu_mb .label:after, .megamenu_mb .label:before {
  left: 25px;
  transform: translate(0, -50%) rotate(-135deg)
}

.megamenu_mb #menu_:after, .megamenu_mb #menu_:before {
  display: none
}

.megamenu_mb ul.menu, .megamenu_mb .highlight {
  height: 100%;
  overflow: auto
}

.group_id_menu_23{
  background: #e4e4e430;
}