.news_list_body_default {
  margin-top: 36px
}

.news_list_body_default .news-item {
  margin-bottom: 8px
}

@media only screen and (max-width: 550px) {
  .news_list_body_default .news-item {
    margin-bottom: 10px
  }
}

.news_list_body_default .news-item figure {
  width: 126px;
  float: left
}

.news_list_body_default .news-item figure img {
  border-radius: 5px
}

.news_list_body_default .news-item .content-r {
  width: calc(100% - 140px);
  float: right;
  font-size: 15px;
  line-height: 20px
}

.news_list_body_default .news-item .content-r a {
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden
}

.news_list_body_default .news-item .content-r .datetime {
  color: #888;
  margin-top: 5px;
  font-size: 14px
}
.news_home {
  margin-top: 36px;
  .frame_img {
    text-align: center;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 5px;
  }
}
.page_title {
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede;
  span {
    font-weight: normal;
    padding: 0px 20px 14px 0px;
    display: inline-block;
    position: relative;
    margin-left: 0px;
    z-index: 1;
    min-width: 78px;
    text-align: center;
    webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 28px;
    text-decoration: none;
    text-align: left;
  }
  .block_search_news {
    width: 50%;
    float: right;
    margin-top: -12px;
    .block_title {
      width: calc(55% - 10px);
      float: left;
      text-align: right;
      span {
        font-size: 15px;
        padding: 13px 0px;
      }
    }
    .block_content {
      width: 45%;
      float: right;
    }
  }
}
.block_title {
  font-weight: bold;
  font-size: 24px;
  color: #252525;
}
#search_form {
  position: relative;
}
.block_search_news .search_form {
  position: relative;
}
.block_search_news input {
  background-color: #fff;
  border: 1px solid #ebebeb;
  color: #3a3939;
  font-size: 12px;
  height: 42px;
  line-height: 32px;
  margin: 0;
  padding: 5px 30px 5px 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}
.button-search {
  width: 50px;
  height: 40px;
  position: absolute;
  background: #fff;
  border: none;
  right: 0;
  top: 0px;
  border-radius: 0 4px 4px 0;
}
.block_search_news .button-search {
  color: #fff;
  cursor: pointer;
  height: 41px;
  position: absolute;
  right: 2px;
  text-align: center;
  top: 0px;
  width: 41px;
  border: none;
  background: none;
}
.block_search_news .button-search svg {
  fill: #9c9c9c;
  width: 18px;
}
.button-search svg {
  width: 20px;
  height: 20px;
  background: transparent;
  color: #7d7d7d;
  padding: 10px;
  fill: #7d7d7d;
}
body {
  font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #f6f6f6;
}
.news_header {
  border-bottom: 1px solid #dedede;
  margin-bottom: 30px;
}
.header_l {
  float: left;
  width: calc(50% - 12px);
  margin-bottom: 25px;
  .title {
    font-size: 24px;
    margin-top: 20px;
    line-height: 23px;
    font-weight: bold;
  }
  .datetime {
    margin-top: 9px;
    color: #888;
  }
  .summary {
    font-weight: normal;
    margin-top: 6px;
    text-align: justify;
    line-height: 27px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.news_home{
  .frame_img {
    text-align: center;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .item{
    img {
      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      width: 100%;
    }
  }
}
figure {
  margin: 0;
  text-align: center;
  margin-bottom: 12px;
}
a {
  color: #000;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in 0;
  -webkit-transition: all 0.2s ease-in;
  -webkit-transition-delay: 0;
  transition: all 0.2s ease-in 0;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
.header_r {
  width: 50%;
  float: right;
  box-sizing: border-box;
  padding-left: 15px;
  overflow: hidden;
  .header_r_inner {
    display: flex;
    flex-wrap: wrap;
  }
  .item{
    width: 50%;
    float: left;
    margin-bottom: 15px;
    box-sizing: border-box;
    &:nth-child(odd) {
      clear: left;
      padding-right: 13px;
    }
  }
  .item_title {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.news_bottom_l {
  float: left;
  width: calc(68% - 30px);
  box-sizing: border-box;
}
.list-news{
  .item {
    border-bottom: 1px solid #dedede;
    padding-bottom: 42px;
    margin-bottom: 42px;
  }
  .frame_img {
    float: left;
    width: 42%;
  }
  .frame_right {
    float: right;
    width: calc(58% - 15px);
    .title {
      font-size: 19px;
      line-height: 27px;
      font-weight: bold;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .datetime {
    color: #888;
    margin-top: 12px;
    margin-bottom: 28px;
  }
  .list-news .sum {
    font-weight: normal;
    margin-top: 14px;
    font-size: 15px;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.right_b {
  float: right;
  width: 32%;
  .block {
    margin-bottom: 60px;
  }
  .block_title {
    font-size: 18px;
    position: relative;
    color: #333;
    font-weight: bold;
    background: #ecececa3;
    padding: 16px 24px;
    &::after {
      position: absolute;
      height: 50px;
      width: 6px;
      background: var(--main-color);
      content: '';
      left: 0px;
      bottom: 0px;
    }
  }
  .blocks0{
    .news_list_body_default {
      margin-top: 26px;
    }
  }
}
@media only screen and (max-width: 1024px){
  .news_home {
    margin-top: 0px;
    padding-top: 10px;
  }
}
@media (max-width: 900px){
  .page_title {
    padding-top: 15px;
  }
}
@media screen and (max-width: 768px){
  .page_title{
    .block_search_news{
      display: none;
    }
    span {
      font-size: 20px;
    }
  }
  .header_l {
    width: 100%;
    .frame_img{
      a {
        display: block;
      }
    }
  }
  .header_r {
    width: 100%;
    padding-left: 0;
  }
  .right_b {
    float: none;
    width: 100%;
  }
  .news_bottom_l {
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width: 550px){
  .news_header {
    margin-bottom: 20px;
  }
  .header_l {
    margin-bottom: 15px;
    .title {
      font-size: 15px;
      margin-top: 10px;
      text-transform: unset;
    }
    .summary {
      line-height: 22px;
      font-size: 14px;
    }
  }
  .header_r{
    .item_title {
      margin-top: 10px;
      font-size: 14px;
    }
    .item{
      &:nth-child(odd) {
        padding-right: 5px;
      }
    }
  }
  .right_b{
    .block {
      margin-bottom: 20px;
    }
    .block_title {
      font-size: 16px;
      padding: 10px 16px;
      &::after {
        height: 38px;
        width: 3px;
      }
    }
    .blocks0{
      .news_list_body_default {
        margin-top: 10px;
      }
    }
  }
  .news_list_body_default{
    .news-item {
      margin-bottom: 10px;
    }
  }
  .list-news{
    .item {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .sum {
      margin-top: 5px;
      display: none;
    }
    .frame_right{
      .title {
        text-transform: unset;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
@media screen and (max-width: 500px){
  .breadcrumb__item {
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 400px){
  .breadcrumb__item {
    font-size: 13px;
  }
}
@media screen and (max-width: 360px){
  .breadcrumb__item {
    font-size: 12px;
  }
}