@media all and (max-width: 600px) {
  .list_video_below {
    margin-top: 10px
  }
}

.list_video_below .news_time {
  font-weight: normal;
  margin-top: 2px;
  color: #848484
}

.list_video_below .video_item {
  position: relative;
  cursor: pointer;
  margin-bottom: 11px
}

.list_video_below .video_item i {
  font-size: 20px;
  color: #0094E0;
  position: absolute;
  top: 1px;
  left: 0
}

.videos_block_body .video_item {
  float: left;
  width: 33.333%;
  padding: 0 15px;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 10px
}

.video_item_inner_has_img {
  position: relative;
  overflow: hidden;
  max-height: 365px;
  min-height: 350px
}

@media all and (max-width: 520px) {
  .video_item_inner_has_img {
    min-height: 308px
  }
}

@media all and (max-width: 460px) {
  .video_item_inner_has_img {
    min-height: 280px
  }
}

@media all and (max-width: 420px) {
  .video_item_inner_has_img {
    min-height: 227px
  }
}

@media all and (max-width: 400px) {
  .video_item_inner_has_img {
    min-height: 200px
  }
}

.video_item_inner_has_img:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.94, 0.85, 0.1, 0.62) 0s;
  -o-transition: all 0.4s cubic-bezier(0.94, 0.85, 0.1, 0.62) 0s;
  transition: all 0.4s cubic-bezier(0.94, 0.85, 0.1, 0.62) 0s;
  z-index: 1;
  border: 100px double #0000;
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  box-sizing: border-box
}

.video_item_inner_has_img:hover:before {
  opacity: 0;
  filter: alpha(opacity=0);
  border: 0 double rgba(255, 255, 255, 0.7);
  visibility: hidden
}

.video_item:hover .video_item_inner_has_img::after {
  color: #E2201B
}

.play-video svg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  cursor: pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s
}

@media all and (max-width: 500px) {
  .play-video svg {
    top: calc(34% - 15px);
    left: calc(50% - 15px)
  }
}

.video_item:hover .play-video svg#Layer_1 {
  fill: red
}

.video_item_li:hover .image .play-video svg#Layer_2 {
  fill: red
}

.video-name {
  position: absolute;
  bottom: 4px;
  width: 100%;
  background: #000000ab;
}

.play-video-big svg {
  width: 50px;
  height: 50px
}

.video-name-inner {
  padding: 18px 10px;
  color: #FFF
}

@media all and (max-width: 800px) {
  .video-name-inner {
    padding: 6px 10px
  }
}

.video_item img {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  width: 100%;
  height: auto;
  cursor: pointer
}

.video_item:hover .video-name-inner {
  padding-top: 18px;
  padding-bottom: 18px;
  -webkit-transition: 0.35s ease-in-out all;
  transition: 0.35s ease-in-out all;
  color: #ffffff
}

@media only screen and (max-width: 560px) {
  .videos_block_body .video_item {
    float: none;
    width: 100%;
    text-align: center
  }
}

.block_videos .video_item {
  width: calc(100% - 208px);
  float: left
}

@media all and (max-width: 1024px) {
  .block_videos .video_item {
    width: 100%;
    float: none
  }
}

.block_videos .list_video_below {
  width: 188px;
  float: right
}

@media all and (max-width: 1024px) {
  .block_videos .list_video_below {
    width: calc(100% + 6px);
    float: none;
    margin: 5px -3px 0px
  }
}

.block_videos .list_video_below .video_item_li {
  cursor: pointer;
  margin-bottom: 11px
}

@media all and (max-width: 1024px) {
  .block_videos .list_video_below .video_item_li {
    width: calc(33.33% - 6px);
    margin-left: 3px;
    margin-right: 3px;
    float: left
  }
  .block_videos .list_video_below .video_item_li .image {
    margin-bottom: 0px
  }
}

.block_videos .list_video_below .video_item_li .image {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  min-height: 106px
}

.block_videos .list_video_below .video_item_li .image img {
  width: 100%;
  transition: 0.5s
}

.block_videos .list_video_below .video_item_li .title {
  position: absolute;
  bottom: 0px;
  padding: 2px 7px;
  line-height: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
  background: #000000ab;
  bottom: 4px;
  font-size: 12px
}

@media all and (max-width: 1024px) {
  .block_videos .list_video_below .video_item_li .title {
    width: 100%;
    padding: 4px 10px;
    height: 34px;
    box-sizing: border-box;
    margin-left: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
  }
}

@media all and (max-width: 600px) {
  .block_videos .list_video_below .video_item_li .title {
    padding: 0 2px;
    font-size: 13px;
    line-height: 18px
  }
}

@media all and (max-width: 500px) {
  .block_videos .list_video_below .video_item_li .title {
    background: none;
    color: #000;
    position: inherit
  }
}