#fs-slider {
  display: block
}

#fs-slider .name {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  display: none;
  font-family: MyriadPro-Light;
  font-size: 18px;
  font-weight: bold;
  left: 0;
  margin: 0;
  padding: 8px 20px;
  position: absolute;
  width: 100%
}

#fs-slider .item {
  text-align: center;
  display: none
}

#fs-slider .item:first-child {
  display: block
}

.owl-dot {
  background: #ffffff;
  margin: 0px 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px #FFF
}

#fs-slider:hover .owl-dot {
  opacity: 1
}

.owl-dots {
  text-align: center;
  position: absolute;
  bottom: 3px;
  padding: 6px 7px;
  border-radius: 19px;
  left: 50%;
  transform: translate(-50%, 0);
  background: none
}

.owl-dot.active, .owl-dot:hover {
  background: var(--main-color);
  box-shadow: inset rgba(255,255,255,0.37) -1px 1px 1px
}

#fs-slider .owl-controls .owl-nav {
  position: absolute;
  top: 43%;
  height: 0;
  width: 100%;
  display: none
}

#fs-slider:hover .owl-controls .owl-nav {
  display: block
}

#fs-slider .owl-controls .owl-nav div {
  display: inline-block;
  zoom: 1;
  position: absolute;
  padding: 6px 0 0;
  margin: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 5px;
  background: #0000007a;
  width: 36px;
  height: 36px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-family: -webkit-body;
  line-height: 16px;
  box-sizing: border-box
}

#fs-slider .owl-controls .owl-prev {
  left: 10px
}

#fs-slider .owl-controls .owl-next {
  right: 10px
}