.frame_img {
  display: block;
  background: white;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 4px;
  cursor: pointer
}

.frame_img img:hover, #colorbox img:hover {
  opacity: 1
}

.frame_img_inner {
  max-height: 1500px
}

#sync1_wrapper {
  display: none
}

#sync1 .item {
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center
}

#sync2 .item {
  padding: 2px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #EAE8E1;
  background: #FFF
}

#sync2 .item a {
  display: grid
}

#sync2 .item a img {
  margin: 0 auto
}

#sync2 .item:hover, #sync2 .owl-item.current .item {
  border: 1px solid #AAA
}

#sync2 .item h1 {
  font-size: 18px
}

#sync2 .synced .item {
  background: #0c83e7
}

#sync1 .owl-prev, #sync1 .owl-next {
  display: inline-block;
  padding: 0px;
  text-align: center;
  position: absolute;
  top: 40% !important;
  width: 16px;
  height: 25px;
  font-size: 12px;
  margin: 5px;
  padding: 3px 8px;
  border-radius: 4px;
  background: var(--main-color);
  font-size: 30px;
  color: #fff;
  line-height: 20px
}

#sync1:hover .owl-prev, #sync1:hover .owl-next {
  display: inline-block !important
}

#sync1 .owl-prev {
  left: 0px
}

#sync1 .owl-next {
  right: 0px
}

#sync1 .owl-prev:hover {
  right: 4px
}

#sync1 .owl-next:hover {
  right: 4px
}

#sync1.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  display: inherit;
  width: auto
}

@media screen and (max-width: 600px) {
  .frame_left .thumbs {
    display: none
  }
}

.thumbs .owl-carousel .owl-stage {
  text-align: center;
  margin: 0 auto
}

#sync2 .owl-prev, #sync2 .owl-next {
  display: inline-block;
  zoom: 1;
  position: absolute;
  padding: 6px 0 0;
  margin: 0;
  border-radius: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 24px;
  height: 27px;
  text-align: center;
  font-size: 46px;
  color: #404040;
  font-family: -webkit-body;
  line-height: 12px;
  top: 36px;
  opacity: 1
}

#sync2:hover .owl-prev, #sync2:hover .owl-next {
  display: inline !important
}

#sync2 .owl-prev {
  left: -16px
}

#sync2 .owl-next {
  right: -16px
}

.product .frame_left #sync1_wrapper {
  border: 1px solid #EEE
}

@media screen and (max-width: 600px) {
  .product .frame_left .magic_zoom_area {
    display: none
  }
  .frame_img {
    padding: 0px
  }
  .frame_img_inner {
    padding: 0px
  }
  .product .frame_left #sync1_wrapper {
    display: block
  }
  .product .frame_left #sync1_wrapper .item img {
    width: 75%
  }
}

.fotorama__nav__frame {
  height: 100px !important
}

.fotorama__nav__frame img {
  height: 100px !important;
  top: 0px !important
}

.fotorama__thumb-border {
  height: 96px !important
}