html {
  color: #222222
}
:root {
  --main-color: #fc8600;
  --extra-color: #80bb00;
  --black-color: #23232B;
  --blue-color: #288ad6;
  --body-color: #eee
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, legend, input, button, textarea, p, blockquote {
  margin: 0;
  padding: 0
}

body {
  font: 14px/18px Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #f6f6f6
}

.fieldset {
  margin: 0;
  padding: 10px
}

th, td {
  margin: 0
}

a {
  color: #000;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in 0;
  -webkit-transition: all 0.2s ease-in;
  -webkit-transition-delay: 0;
  transition: all 0.2s ease-in 0
}

a:hover {
  color: var(--blue-color)
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

.red, .label_error {
  color: red
}

.redborder {
  border: 1px solid red
}

.bold {
  font-weight: bold
}

img {
  border: 0;
  max-width: 100%;
  height: auto
}

del, ins {
  text-decoration: none
}

li {
  list-style: none
}

caption, th {
  text-align: left
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1
}

q:before, q:after {
  content: ''
}

abbr, acronym {
  border: 0;
  font-variant: normal
}

sup {
  vertical-align: baseline
}

sub {
  vertical-align: baseline
}

legend {
  color: #000000;
  font-weight: bold;
  padding: 0 8px
}

figure {
  margin: 0;
  text-align: center;
  margin-bottom: 12px
}

.figcaption {
  font-style: italic
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: none
}

input, button, textarea, select {
  *font-size: 100%
}

table {
  font: 100%;
  border-collapse: collapse
}

pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%
}

select {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #333 50%), linear-gradient(135deg, #333 50%, transparent 50%), linear-gradient(to right, #fff, #fff);
  background-position: calc(100% - 20px) calc(1em + -2px), calc(100% - 15px) calc(1em + -2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat
}

select:focus {
  background-image: linear-gradient(45deg, #fff 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #fff 50%), linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0
}

.clear, .clearfix {
  clear: both
}

.cls::after {
  content: '';
  display: block;
  clear: both
}

.hidden, .hide, .hiden {
  display: none
}

.pagination {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  padding-bottom: 10px
}

.scroll_bar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #EBEBEB
}

.scroll_bar::-webkit-scrollbar {
  width: 8px;
  background-color: #EBEBEB;
  border-radius: 10px
}

.scroll_bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: url("https://hailinh.vn/templates/hailinh/images/bg_scrollbar.png") no-repeat scroll center center var(--main-color);
  border: 1px solid #EBEBEB
}

.pagination .current {
  background: none repeat scroll 0 0 var(--main-color);
  color: #FFFFFF;
  border: 1px solid var(--main-color);
  display: inline-block;
  font-size: 14px;
  margin-left: 6px;
  padding: 6px 12px;
  box-sizing: border-box;
  border-radius: 3px
}

.block_testimonials .title_icon {
  width: 40px;
  height: 40px;
  float: left;
  position: relative
}

.block_videos .title_icon {
  width: 40px;
  height: 40px;
  float: left;
  position: relative
}

.pagination a, .pagination b {
  background: none repeat scroll 0 0 #fff;
  color: #4C4C4C;
  display: inline-block;
  font-size: 13px;
  margin-left: 6px;
  padding: 6px 12px;
  border-radius: 3px;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid #eee;
  margin-bottom: 10px
}

.pagination a:hover, .pagination b:hover {
  background: none repeat scroll 0 0 #2080CA;
  color: #FFFFFF;
  -webkit-transition: 0.15s ease-in-out all;
  transition: 0.15s ease-in-out all
}

.next-page {
  padding: 6px 13px 6px !important
}

.pre-page {
  padding: 6px 13px 6px !important
}

.next-page:hover {
  -webkit-transition: 0.15s ease-in-out all;
  transition: 0.15s ease-in-out all
}

.pre-page:hover {
  -webkit-transition: 0.15s ease-in-out all;
  transition: 0.15s ease-in-out all
}

.left {
  float: left
}

.right {
  float: right
}

.right-col .block {
  background: #fff;
  margin-top: 20px;
  box-sizing: border-box
}

.page_title {
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede
}

@media all and (max-width: 900px) {
  .page_title {
    padding-top: 15px
  }
}

.page_title span {
  font-weight: normal;
  padding: 0px 20px 14px 0px;
  display: inline-block;
  position: relative;
  margin-left: 0px;
  z-index: 1;
  min-width: 78px;
  text-align: center;
  webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  font-size: 28px;
  text-decoration: none;
  text-align: left
}

.page_title:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 83px;
  height: 0;
  border-style: solid;
  border-width: 3px 0px 0 0;
  border-color: var(--main-color) transparent transparent transparent;
  webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease
}

@media screen and (max-width: 768px) {
  .page_title span {
    font-size: 20px
  }
}

.fr {
  float: right
}

.fl {
  float: left
}

.benmarch {
  display: none
}

.hide {
  display: none
}

.hidetime {
  display: none
}

.submit_bt, .reset_bt {
  padding: 5px 14px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer
}

.submit_bt {
  border: 1px solid #2080CA;
  background: #2080CA;
  color: #FFF
}

.submit_bt:hover {
  border: 1px solid #C90008;
  background: #C90008
}

.reset_bt {
  border: 1px solid #b3b1b1;
  background: #f9f9f9;
  color: #000
}

.reset_bt:hover {
  border: 1px solid #b3b1b1;
  background: #cecdcd
}

.redborder {
  border-color: #ED1C24 !important
}

.scroll-bar::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: #EBEBEB
}

.scroll-bar::-webkit-scrollbar {
  width: 5px;
  background-color: #EBEBEB;
  border-radius: 15px
}

.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #2080CA;
  border: 1px solid #EBEBEB
}

.right-col {
  width: 290px;
  float: right;
  position: relative
}

.main-area-2col-right {
  width: -webkit-calc(100% - 290px);
  width: -moz-calc(100% - 290px);
  width: calc(100% - 290px);
  float: left;
  padding-right: 40px;
  box-sizing: border-box
}

.container {
  width: 1260px;
  max-width: 100%;
  margin: 0 auto
}

@media only screen and (max-width: 1260px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box
  }
}

@media only screen and (max-width: 1260px) {
  .container_main_wrapper {
    background: #fff
  }
}

.lazy {
  opacity: 0
}

.after-lazy {
  display: inline-block !important
}

.header_wrapper_wrap {
  min-height: 52px;
  width: 100%;
  z-index: 9
}

.header_wrapper {
  padding: 14px 0px;
  background: var(--main-color);
  width: 100%;
  z-index: 100;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1)
}

@media screen and (max-width: 600px) {
  .header_wrapper {
    padding: 9px 0px
  }
}

.header-l {
  float: left;
  width: 70%
}

@media screen and (max-width: 760px) {
  .header-l {
    width: calc(100% - 112px)
  }
}

@media screen and (max-width: 600px) {
  .header-l {
    width: calc(100% - 80px)
  }
}

.header-r {
  float: left;
  width: 30%;
  padding-top: 25px;
  box-sizing: border-box
}

@media screen and (max-width: 990px) {
  .header-r {
    padding-top: 13px
  }
}

@media screen and (max-width: 760px) {
  .header-r {
    float: right;
    width: 70px
  }
}

.header-r .shopcart {
  float: right;
  margin-left: 30px;
  width: 90px;
  box-sizing: border-box
}

@media screen and (max-width: 760px) {
  .header-r .shopcart {
    float: right;
    margin-left: 9px;
    width: 31px
  }
}

.header-r .fb_header {
  float: left
}

.header-r .hotline_header {
  float: left;
  margin-left: 40px;
  position: relative;
  padding-left: 50px
}

.header-r .hotline_header .hotline_head_item {
  line-height: 20px
}

.header-r .hotline_header .hotline_head_item a {
  font-weight: bold
}

.header-r .hotline_header .hotline_head_item span {
  width: 50px;
  display: inline-block
}

.header-r .hotline_header svg {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 2px;
  left: 0px;
  fill: var(--extra-color)
}

.logo_img {
  max-width: 190px;
  width: auto !important
}

@media all and (max-width: 990px) {
  .logo_img {
    max-width: 118px
  }
}

@media all and (max-width: 600px) {
  .logo_img {
    height: 26px
  }
}

.logo_img_small {
  display: none;
  height: 40px;
  width: auto !important
}

@media all and (max-width: 600px) {
  .logo_img_small {
    height: 26px
  }
}

.regions_search {
  float: right;
  width: calc(100% - 253px);
  margin-left: 55px;
  padding-top: 11px;
  box-sizing: border-box
}

@media all and (max-width: 990px) {
  .regions_search {
    padding-top: 0px;
    width: calc(100% - 196px);
    margin-left: 0px
  }
}

@media all and (max-width: 600px) {
  .regions_search {
    width: calc(100% - 96px)
  }
}

.regions_search .block_regions {
  width: 100px;
  float: left
}

@media all and (max-width: 800px) {
  .regions_search .block_regions {
    display: none
  }
}

.regions_search select {
  border: none;
  height: 40px;
  box-sizing: border-box;
  background: #EEE;
  border-radius: 4px 0 0 4px;
  font-size: 13px;
  display: inline-block;
  font: inherit;
  padding: 10px;
  width: 100px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #333 50%), linear-gradient(135deg, #333 50%, transparent 50%), linear-gradient(to right, #eee, #eee);
  background-position: calc(100% - 19px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat
}

.regions_search_mb {
  float: right;
  width: 200px;
  margin-top: 6px
}

.regions_search_mb select {
  border: none;
  height: 40px;
  box-sizing: border-box;
  background: #EEE;
  border-radius: 4px;
  padding: 0 5px;
  float: right;
  margin-right: 5px
}

.header .logo {
  display: inline-block;
  float: left
}

@media screen and (max-width: 600px) {
  .header .logo {
    margin-top: 3px
  }
}

.address_header, .header .hotline {
  margin-top: 31px
}

.address_header_head, .header .hotline {
  position: relative;
  padding-left: 41px
}

.header .hotline > li:first-child {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  color: #5D5A5C
}

.address_header label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #5D5A5C;
  margin-top: 10px
}

.address_header:hover label {
  color: #000
}

.address_header_head::before, .header .hotline::before {
  position: absolute;
  content: ' ';
  width: 33px;
  height: 31px;
  top: 4px;
  left: 0px
}

.support_phone li {
  margin-bottom: 10px;
  border-bottom: 1px solid #f9f9f9;
  padding-bottom: 10px;
  position: relative;
  padding-left: 39px
}

.support_phone li::before {
  position: absolute;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="24" width="24" fill="dodgerblue" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M78.014,20.385c8.463,8.75,12.51,18.127,12.84,29.081c0.076,2.519-1.453,4.183-3.876,4.312  c-2.557,0.136-4.293-1.441-4.356-4.012c-0.134-5.394-1.357-10.521-4.033-15.211C72.491,23.871,63.191,18.302,50.95,17.603  c-1.358-0.077-2.631-0.218-3.586-1.305c-1.223-1.391-1.33-2.991-0.672-4.62c0.664-1.642,2.01-2.382,3.759-2.352  c7.969,0.135,15.321,2.353,21.955,6.761C74.697,17.61,76.787,19.437,78.014,20.385z M50.11,24.674  c-0.732-0.01-1.53,0.134-2.189,0.44c-1.704,0.79-2.505,2.791-2.048,4.786c0.402,1.758,1.954,2.972,3.906,2.996  c4.562,0.056,8.597,1.499,11.951,4.624c3.688,3.434,5.41,7.741,5.588,12.751c0.032,0.891,0.367,1.904,0.891,2.618  c1.094,1.49,3.037,1.864,4.821,1.184c1.577-0.601,2.506-2.014,2.492-3.886c-0.051-6.981-2.592-12.943-7.5-18.08  C63.098,27.364,57.118,24.773,50.11,24.674z M73.486,87.206c1.689-1.888,3.575-3.599,5.361-5.401  c2.643-2.667,2.664-5.902,0.036-8.55c-3.134-3.157-6.28-6.302-9.44-9.433c-2.586-2.562-5.819-2.556-8.393-0.005  c-1.966,1.948-3.936,3.893-5.86,5.882c-0.133,0.137-0.261,0.247-0.389,0.328l-1.346,1.346c-0.375,0.239-0.748,0.236-1.236-0.029  c0.73-0.689-2.619-1.246-3.839-2.012c-5.695-3.575-10.471-8.183-14.694-13.374c-2.101-2.582-3.968-5.329-5.259-8.431  c-0.215-0.517-0.221-0.888,0.067-1.281l1.346-1.346c0.064-0.087,0.137-0.175,0.231-0.265c0.59-0.569,1.175-1.143,1.757-1.72  c1.361-1.348,2.706-2.711,4.057-4.069c2.69-2.703,2.684-5.88-0.015-8.604c-1.531-1.544-3.074-3.077-4.612-4.614  c-1.585-1.584-3.157-3.181-4.756-4.75c-2.59-2.543-5.824-2.548-8.408-0.007c-1.973,1.941-3.882,3.948-5.886,5.856  c-1.866,1.777-2.817,3.931-3.007,6.463c-0.307,4.104,0.699,7.983,2.106,11.77c2.909,7.832,7.333,14.766,12.686,21.137  c7.239,8.617,15.894,15.436,26.017,20.355c4.554,2.213,9.283,3.915,14.409,4.196C67.944,90.844,71.028,89.954,73.486,87.206z"/></svg>');
  background-repeat: no-repeat;
  content: ' ';
  width: 33px;
  height: 33px;
  top: 1px;
  left: 0px;
  border: 1px solid #ddd;
  border-radius: 50%;
  box-sizing: border-box;
  background-position: center
}

.support_phone li:last-child {
  margin-bottom: 0px;
  border-bottom: none;
  padding-bottom: 10px
}

.address_header_head::before {
  background-position: -133px 1px
}

.header .hotline::before {
  background-position: -35px 1px
}

.header .more_info {
  color: #999999;
  font-size: 12px;
  margin-top: 0px;
  position: relative;
  padding-right: 23px
}

.header .more_info::before {
  position: absolute;
  content: ' ';
  width: 10px;
  height: 10px;
  top: 3px;
  right: 0px;
  background-position: -45px -70px;
  background-repeat: no-repeat;
  z-index: 100;
  background-color: #FFF
}

.header .hotline {
  margin-right: 30px
}

.sb-toggle-left {
  display: none;
  width: 50px;
  float: left;
  margin-top: 11px
}

@media all and (max-width: 600px) {
  .sb-toggle-left {
    width: 36px;
    margin-top: 9px
  }
}

.navicon-line {
  width: 24px;
  height: 3px;
  border-radius: 0px;
  margin-bottom: 5px;
  background-color: #FFF
}

.modal-menu-full-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: #000000cc;
  z-index: 1000;
}

.text-compare {
  margin-top: 4px;
  text-align: right
}

.text-compare a {
  color: #999999;
  display: block;
  font-size: 12px
}

.div_megamenu {
  background: #fff;
  width: 100%;
  z-index: 99
}

.div_megamenu .top_menu {
  width: calc(100% - 230px);
  float: right
}

@media screen and (max-width: 1024px) {
  .div_megamenu .top_menu {
    display: none
  }
}

.div_megamenu .div_megamenu_left {
  width: 210px;
  float: left;
  box-shadow: 2px 1px #f1f1f1de;
  border-left: 1px solid #f1f1f1d9;
  box-sizing: border-box
}

@media screen and (max-width: 1024px) {
  .div_megamenu .div_megamenu_left {
    width: 100%;
    float: none;
    text-align: center;
    border: none;
    box-shadow: 0px 0px #ccc
  }
}

.div_megamenu .div_megamenu_left:hover .product_menu_fix_top {
  display: block
}

.div_megamenu .div_megamenu_left .product_menu_fix_top {
  display: none
}

.slideshow_countdown {
  padding-top: 14px;
  width: calc(100% - 210px);
  float: right
}

@media only screen and (max-width: 1140px) {
  .slideshow_countdown {
    width: 100%;
    float: none
  }
}

@media only screen and (max-width: 780px) {
  .slideshow_countdown {
    padding-top: 0px
  }
}

.login_icon {
  float: right;
  width: 95px
}

@media screen and (max-width: 760px) {
  .login_icon {
    width: 25px;
    float: left
  }
}

.login_icon a {
  color: #fff;
  display: block
}

@media screen and (max-width: 760px) {
  .login_icon .my-account, .login_icon .log-out {
    display: none
  }
}

.login_icon .my-account {
  margin-top: -10px
}

.login_icon .login_icon_inner {
  position: relative;
  padding-left: 33px;
  box-sizing: border-box;
  display: inline-block;
  color: #fff
}

@media screen and (max-width: 760px) {
  .login_icon .login_icon_inner span {
    display: none
  }
}

.login_icon .login_icon_inner span.icon-user {
  width: 23px;
  height: 23px;
  fill: #ffffff;
  left: 0px;
  top: -4px;
  position: absolute;
  font-size: 23px;
}

@media screen and (max-width: 760px) {
  .login_icon .login_icon_inner svg {
    top: -17px
  }
}

@media screen and (max-width: 600px) {
  .login_icon .login_icon_inner svg {
    top: -20px
  }
}

.support_top {
  float: right;
  position: relative;
  color: #fff;
  padding-left: 33px;
  margin-left: 30px;
  width: 73px;
  box-sizing: border-box
}

.support_top span.icon-question {
  width: 23px;
  height: 23px;
  position: absolute;
  fill: #fff;
  left: 0px;
  top: -4px;
  font-size:23px;
}

.support_top a {
  color: #fff !important
}

@media all and (max-width: 1090px) {
  .support_top {
    display: none
  }
}

.slideshow_countdown .slideshow {
  width: calc(100% - 347px);
  position: relative;
  margin-right: 14px
}

@media all and (max-width: 1140px) {
  .slideshow_countdown .slideshow {
    width: calc(68% - 14px)
  }
}

@media all and (max-width: 1024px) {
  .slideshow_countdown .slideshow {
    width: calc(68% - 10px)
  }
}

.slideshow_countdown > .countdown {
  width: 333px
}

.slideshow_countdown > .countdown .item {
  margin-bottom: 14px
}

.slideshow_countdown > .countdown .item:nth-child(2) {
  margin-bottom: 0px
}

.slideshow_countdown > .countdown .item a {
  display: grid
}

@media all and (max-width: 1140px) {
  .slideshow_countdown > .countdown {
    width: 32%
  }
}

@media all and (max-width: 1024px) {
  .slideshow_countdown > .countdown {
    width: calc(32% - 6px)
  }
}

.slideshow_countdown > .countdown .block {
  margin-top: 15px
}

.slideshow_countdown > .countdown .block:first-child {
  margin-top: 0px
}

.home_pos {
  margin-top: 24px;
  overflow: hidden
}

@media only screen and (max-width: 768px) {
  .home_pos_0 {
    margin-top: 4px !important
  }
}

.block_banner_3_colunm {
  margin-left: -15px;
  margin-right: -15px
}

.block_banner_3_colunm .banner_item {
  display: block;
  float: left;
  width: 33.333%;
  box-sizing: border-box;
  padding: 0 15px;
  overflow: hidden
}

.block_banner_3_colunm .banner_item img {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s
}

@media only screen and (min-width: 768px) {
  .pos_mixed {
    margin-top: 15px
  }
}

.pos_mixed_left {
  float: left;
  width: 57.365%
}

.pos_mixed_right {
  float: right;
  width: 40.24%
}

.pos_mixed .block_title {
  background: #FBFBFB;
  border: 1px solid #ECECEC;
  line-height: 48px;
  margin-bottom: 12px
}

.pos_mixed .block_title span {
  margin-left: 31px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: normal;
  margin-top: 10px
}

.pos_mixed .block_content {
  border: 1px solid #E7E7E7;
  padding: 15px
}

.main_wrapper .left-col .block, .main_wrapper .right-col .block {
  margin-bottom: 20px;
  border: 1px solid #EBEBEB
}

.main_wrapper .right-col .newslist_0 {
  border: 1px solid var(--extra-color);
  margin-top: 0px
}

.right-col .block_title, .left-col .block_title {
  color: #2080CA;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  background: var(--extra-color);
  font-weight: bold;
  color: #fff
}

.main_wrapper_home {
  width: 100%
}

.block_title {
  font-weight: bold;
  font-size: 24px;
  color: #252525
}

.block_title a {
  color: #252525;
  font-weight: bold
}

.pos1 {
  margin-top: 25px
}

@media all and (max-width: 780px) {
  .pos1 {
    margin-top: 5px
  }
}

@media all and (max-width: 500px) {
  .pos1 {
    display: none
  }
}

.pos1 .block-submenu {
  display: none
}

@media all and (max-width: 780px) {
  .pos1 .block-submenu {
    display: block
  }
}

.product_sell {
  margin-top: 50px;
  background: #f3f5f5;
  padding-bottom: 50px
}

.banner_home {
  margin-top: 50px
}

.pos3 {
  margin-top: 25px
}

@media all and (max-width: 780px) {
  .pos3 {
    margin-top: 10px
  }
}

.pos4 {
  background: #fff;
  padding: 44px 0px 38px;
  margin-bottom: 30px;
  margin-top: 30px
}

@media all and (max-width: 600px) {
  .pos4 {
    margin-top: 15px
  }
}

.pos4 .block_title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  padding: 0px;
  position: relative;
  margin-bottom: 56px
}

.pos4 .block_title:after {
  position: absolute;
  bottom: -20px;
  width: 340px;
  content: "";
  height: 1px;
  border-bottom: 1px solid #e8e8e8;
  left: 50%;
  transform: translateX(-50%)
}

@media all and (max-width: 420px) {
  .pos4 .block_title:after {
    width: 100%
  }
}

.pos4 .block_title:before {
  position: absolute;
  bottom: -25px;
  z-index: 2;
  width: 24px;
  content: "";
  height: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: url("https://hailinh.vn/templates/hailinh/images/iconst.jpg")
}

@media all and (max-width: 900px) {
  .pos4 .block_title {
    font-size: 18px
  }
}

@media all and (max-width: 500px) {
  .pos4 {
    padding: 25px 10px 25px;
    margin-bottom: 15px
  }
  .pos4 .block_title {
    font-size: 16px;
    line-height: 22px
  }
}

.product_searchs {
  padding: 10px 0 50px;
  margin-top: 20px;
  background-image: -webkit-linear-gradient(bottom, #fac02d, #ffd653)
}

.product_searchs .block_title {
  color: #026639
}

.product_searchs .block_title span span {
  display: inline-block;
  color: #ca0000;
  padding: 3px;
  border: 2px solid #ca0000;
  font-size: 20px
}

.product_searchs .block_title span font {
  display: inline-block;
  margin-left: 7px;
  font-size: 20px;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid #026639;
  width: 26px;
  height: 26px;
  text-align: center;
  box-sizing: border-box
}

.pos5 {
  width: 66%;
  background: #fff;
  box-sizing: border-box;
  float: left;
  padding: 20px 20px 9px 20px
}

@media only screen and (max-width: 1260px) {
  .pos5 {
    padding: 20px 10px 9px 10px
  }
}

@media only screen and (max-width: 900px) {
  .pos5 {
    width: 100%;
    float: none;
    margin-bottom: 30px;
    padding-bottom: 0px
  }
}

@media only screen and (max-width: 500px) {
  .pos5 {
    margin-bottom: 15px;
    padding: 15px 10px 0px 10px
  }
}

.pos6 {
  width: calc(34% - 20px);
  background: #fff;
  box-sizing: border-box;
  padding: 20px 20px 12px;
  float: right
}

@media only screen and (max-width: 900px) {
  .pos6 {
    width: 100%;
    float: none
  }
}

@media only screen and (max-width: 500px) {
  .pos6 {
    padding: 15px 10px 0px
  }
}

.pos5 .block_title, .pos6 .block_title {
  text-transform: uppercase;
  margin-bottom: 14px;
  font-size: 16px;
  padding-left: 25px;
  position: relative;
  float: left
}

.pos5 .block_title:before, .pos6 .block_title:before {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0px;
  top: 1px;
  background: var(--main-color);
  content: ""
}

.pos5 .view-all, .pos6 .view-all {
  float: right
}

.pos5-6 {
  margin-bottom: 30px
}

@media all and (max-width: 500px) {
  .pos5-6 {
    margin-bottom: 15px
  }
}

.pos7 {
  background: #fff;
  padding: 30px 0px
}

.pos7 .block_title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  padding: 0px;
  position: relative;
  margin-bottom: 32px
}

@media all and (max-width: 900px) {
  .pos7 {
    padding: 30px 0px
  }
  .pos7 .block_title {
    font-size: 18px;
    line-height: 22px
  }
}

@media all and (max-width: 500px) {
  .pos7 {
    padding: 20px 0px
  }
  .pos7 .block_title {
    font-size: 16px;
    margin-bottom: 15px
  }
}

.pos_footer {
  background: #f3f5f5;
  padding-top: 40px;
  padding-bottom: 40px
}

.pos_footer .container {
  display: flex
}

.pos_footer .block_title {
  font-size: 22px;
  padding: 30px 0 10px
}

.pos_footer .address_home {
  background: #fff;
  border-radius: 10px;
  width: calc(50% - 10px);
  float: left;
  margin-left: 10px;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 0;
  box-sizing: border-box
}

.pos8 {
  margin-top: 40px;
  background: var(--main-color);
  padding: 40px 0
}

@media all and (max-width: 600px) {
  .pos8 {
    margin-top: 20px;
    padding: 20px 0
  }
}

.pos8 .block_title {
  float: left;
  background: no-repeat;
  color: #fff;
  text-transform: none;
  padding: 0;
  line-height: 40px
}

.partners_home {
  margin-bottom: 40px
}

footer {
  background: #fff;
  padding-top: 34px;
  border-top: 1px solid #eee
}

@media all and (max-width: 736px) {
  footer {
    padding-top: 0px
  }
}

footer .top-ft {
  padding-bottom: 20px
}

@media screen and (max-width: 768px) {
  footer .top-ft {
    padding-top: 20px;
    padding-bottom: 10px
  }
}

footer .top-ft .top-ft-l {
  width: 60%;
  float: left
}

@media screen and (max-width: 768px) {
  footer .top-ft .top-ft-l {
    width: 100%;
    float: none;
    margin-bottom: 18px
  }
}

footer .top-ft .top-ft-c {
  width: 20%;
  float: left
}

@media screen and (max-width: 768px) {
  footer .top-ft .top-ft-c {
    width: 50%
  }
}

@media screen and (max-width: 430px) {
  footer .top-ft .top-ft-c {
    width: 100%;
    float: none;
    margin-bottom: 10px
  }
}

footer .top-ft .top-ft-r {
  width: 20%;
  float: right;
  padding-left: 25px;
  box-sizing: border-box
}

footer .top-ft .top-ft-r .dmca {
  width: 53px
}

footer .top-ft .top-ft-r .bct {
  width: 158px
}

@media screen and (max-width: 768px) {
  footer .top-ft .top-ft-r {
    width: 50%
  }
}

@media screen and (max-width: 430px) {
  footer .top-ft .top-ft-r {
    width: 100%;
    float: none;
    padding-left: 0px
  }
}

footer .top-ft .top-ft-c .title, footer .top-ft .top-ft-r .title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold
}

@media screen and (max-width: 500px) {
  footer .top-ft .top-ft-c .title, footer .top-ft .top-ft-r .title {
    margin-bottom: 10px;
    font-size: 14px
  }
}

footer .bot-ft {
  background: #f6f6f6;
  padding: 18px 0px
}

footer .bot-ft .bot-ft-l {
  width: 70%;
  float: left;
  line-height: 20px
}

footer .bot-ft .bot-ft-r {
  width: 30%;
  float: right
}

@media screen and (max-width: 680px) {
  footer .bot-ft .bot-ft-l {
    width: 100%;
    float: none;
    text-align: center
  }
  footer .bot-ft .bot-ft-r {
    width: 100%;
    float: none;
    text-align: center
  }
}

@media screen and (max-width: 500px) {
  footer .bot-ft {
    margin-bottom: 50px
  }
}

footer .adv_footer {
  width: 33%;
  float: right
}

@media all and (max-width: 800px) {
  footer .adv_footer {
    width: 100%;
    float: none
  }
}

footer .adv_footer h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  display: block
}

@media all and (max-width: 600px) {
  footer .adv_footer h3 {
    margin-bottom: 15px
  }
}

footer .regions #regions_footer {
  height: 34px;
  background: #f3f3f3;
  border: none;
  border-radius: 4px;
  padding-left: 10px;
  box-sizing: border-box
}

.footer_im {
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px dashed #bbbbbb;
  border-bottom: 1px dashed #bbbbbb
}

.footer_im .dtb {
  display: inline-block;
  margin-left: 20%;
  margin-top: -10px;
  margin-bottom: -32px;
  float: left
}

@media all and (max-width: 800px) {
  .footer_im .dtb {
    margin-left: 20px
  }
}

@media all and (max-width: 600px) {
  .footer_im .dtb {
    margin-left: 0;
    margin-top: 0
  }
}

.footer_im .copyright {
  float: right;
  line-height: 40px;
  color: #848484
}

.footer_im .copyright span {
  color: #222
}

footer .regions {
  width: 30%;
  padding-left: 50px;
  box-sizing: border-box
}

@media all and (max-width: 800px) {
  footer .regions {
    width: 30%;
    padding-right: 10px;
    box-sizing: border-box
  }
}

@media all and (max-width: 600px) {
  footer .regions {
    width: 50%;
    padding-left: 0
  }
}

footer .info {
  width: 20%;
  float: left;
  box-sizing: border-box
}

@media all and (max-width: 800px) {
  footer .info {
    padding-left: 50px;
    width: 30%;
    padding-right: 10px;
    box-sizing: border-box
  }
}

@media all and (max-width: 600px) {
  footer .info {
    width: 50%;
    padding-left: 20px;
    padding-right: 0px
  }
}

footer .info h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 15px
}

@media all and (max-width: 600px) {
  footer .info h3 {
    margin-bottom: 15px
  }
}

footer .info p {
  line-height: 18px;
  margin-bottom: 12px
}

@media all and (max-width: 600px) {
  footer .info p {
    line-height: 15px;
    margin-bottom: 10px
  }
}

.region_name {
  text-transform: uppercase;
  margin-top: 15px;
  text-decoration: underline
}

.footer_title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 15px;
  color: #222
}

@media all and (max-width: 600px) {
  .footer_title {
    margin-bottom: 15px
  }
}

.address_regions ul {
  margin-top: 12px;
  color: #252525;
  position: relative
}

.address_regions ul li {
  position: relative;
  padding-left: 20px
}

.address_regions ul li svg {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  fill: var(--main-color)
}

@media all and (max-width: 600px) {
  .address_regions ul {
    margin-top: 5px
  }
}

.address_regions ul:before {
  width: 9px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12"><path fill="white" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg>');
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  left: 0px
}

.address_regions ul li:nth-child(1) i {
  width: 9px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12"><path fill="white" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg>');
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  left: 0
}

.address_regions ul li:nth-child(2) {
  color: #CCCCCC
}

.address_regions ul li:nth-child(2) a {
  color: #CCCCCC
}

.address_regions > span {
  margin-right: 10px
}

.share_fast i {
  width: 34px;
  height: 34px;
  display: inline-flex
}

.share_fast a {
  display: inline-flex;
  margin-right: 16px;
  margin-right: 9px;
  display: block;
  width: 35px;
  height: 35px;
  background: #3c3c3d;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  color: #FFF;
  text-align: center;
  -moz-transition: all 0.2s ease-in 0;
  -webkit-transition: all 0.2s ease-in;
  -webkit-transition-delay: 0;
  transition: all 0.2s ease-in 0;
  float: left
}

.share_fast a:hover {
  background: #5f5f60
}

.banner_top {
  text-align: center;
  background: var(--main-color);
  position: relative
}

.banner_top img {
  margin-bottom: -4px
}

.banner_top .close_banner_top {
  position: absolute;
  right: 30px;
  top: 50%;
  cursor: pointer;
  transform: translate(0, -50%)
}

.banner_top .close_banner_top svg {
  fill: #ccc;
  width: 20px;
  height: 20px
}

.banner_top .close_banner_top svg:hover {
  fill: red
}

.banner-off {
  display: none
}

.home_pos_2 {
  margin: 0 -15px;
  margin-top: 16px
}

@media all and (max-width: 1200px) {
  .home_pos_2 {
    margin: 0 -10px;
    margin-top: 16px
  }
}

.home_pos_2 .item {
  width: calc(50% - 30px);
  margin: 0 15px;
  float: left;
  position: relative
}

@media all and (max-width: 1200px) {
  .home_pos_2 .item {
    width: calc(50% - 20px);
    margin: 0 10px
  }
}

@media all and (max-width: 600px) {
  .home_pos_2 .item {
    width: calc(100% - 20px)
  }
}

.home_pos_2 .item img {
  width: 100%
}

.top1 {
  background-image: url("https://hailinh.vn/templates/hailinh/images/bg_top1.jpg");
  background-size: 100% 100%;
  padding: 35px 0 15px 35px
}

.number1 {
  color: #fff
}

.number1 .stt1 {
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  transform: scale(0.9, 1);
  text-shadow: 2px 2px #868686cc;
}

@media all and (max-width: 600px) {
  .number1 .stt1 {
    font-size: 40px
  }
}

@media all and (max-width: 325) {
  .number1 .stt1 {
    font-size: 30px
  }
}

.number1 font {
  font-size: 45px;
  display: inline-block;
  font-weight: bold;
  line-height: 60px;
  margin: 0 3px;
  width: 65px;
  position: relative;
  height: 30px
}

@media all and (max-width: 600px) {
  .number1 font {
    width: 45px
  }
}

@media all and (max-width: 325px) {
  .number1 font {
    width: 30px
  }
}

.number1 font:after {
  content: '';
  height: 90px;
  background-image: url("https://hailinh.vn/templates/hailinh/images/bg1.png");
  width: 65px;
  position: absolute;
  top: -30px;
  left: 0px;
  animation: 4s ease-in-out 0s normal none infinite running chang-rotage-anim-2-bh
}

@media all and (max-width: 600px) {
  .number1 font:after {
    background-size: 100% 100%;
    top: -8px;
    height: 55px;
    width: 40px
  }
}

.number1 .stt2 {
  display: inline-block;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 25px;
  transform: scale(0.85, 1);
  text-shadow: 2px 2px #868686cc;
}

@media all and (max-width: 600px) {
  .number1 .stt2 {
    font-size: 16px
  }
}

.countdown .number1 {
  color: #fff
}

@media all and (max-width: 800px) {
  .countdown .number1 {
    display: none
  }
}

.bot1 {
  background-size: 100% 100%;
  text-align: center
}

.bot1 img {
  width: 100%
}

@media all and (max-width: 1250px) {
  .bot1 {
    margin-top: 0px
  }
}

@media all and (max-width: 800px) {
  .bot1 {
    width: 48%;
    float: left;
    padding-right: 10px;
    box-sizing: border-box
  }
}

@media all and (max-width: 600px) {
  .bot1 {
    margin-top: 0;
    width: 100%;
    padding-right: 0px
  }
}

.newtop {
  margin-top: 10px
}

@media all and (max-width: 800px) {
  .newtop {
    width: 52%;
    float: left;
    margin-top: 0px
  }
}

@media all and (max-width: 600px) {
  .newtop {
    margin-top: 0;
    width: 100%;
    padding-right: 0px;
    display: none
  }
}

@media all and (min-width: 800px) {
  .banner-home-top .number1 font:after {
    animation: unset
  }
}

.time-dow-event .time {
  display: inline-block;
  margin: 3px;
  background: #f3f1f2;
  padding: 3px 0px;
  width: 56px
}

@media all and (max-width: 1200px) {
  .time-dow-event .time {
    width: 50px
  }
}

.time-dow-event .time_1 {
  font-weight: bold
}

.footer_l {
  width: 25%
}

@media all and (max-width: 1000px) {
  .footer_l {
    width: 100%
  }
}

.footer_r_w {
  width: 25%
}

.footer_r_w .block_title {
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 15px;
  color: #222;
  background: none
}

.footer_r {
  width: 270px;
  float: right
}

@media all and (max-width: 800px) {
  .footer_r {
    width: 50%;
    float: left;
    margin-top: 20px
  }
}

@media all and (max-width: 500px) {
  .footer_r {
    width: 100%;
    float: left;
    margin-top: 20px
  }
}

.footer_r .block_title {
  background: none;
  padding: 0;
  font-size: 15px;
  margin-bottom: 20px
}

footer .tags {
  margin-top: 15px
}

footer .tags, footer .tags a {
  color: #929292;
  font-size: 12px;
  color: #929292;
  font-size: 12px
}

.footer2 {
  background: #1b1b1b;
  color: #CCC;
  padding: 8px 0;
  text-align: center;
  border-top: 1px solid #7d7d7d
}

#menu-fixed-bar {
  width: 40%;
  z-index: 999;
  transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  float: right
}

.slide-down {
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: 0.5s
}

.slide-up {
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition: 0.5s
}

.m-slide-down {
  -ms-transform: translateY(-100%);
  transform: translateY(-100%)
}

.m-slide-up {
  -ms-transform: translateY(0);
  transform: translateY(0);
  background: #fdfdfd;
  z-index: 1000;
  box-shadow: 0px 0px 2px 2px #CCC
}

#fixed-bar {
  position: fixed;
  bottom: 0;
  height: 45px;
  z-index: 999
}

#fixed-bar > div {
  float: left;
  max-width: 22%;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  width: 35px
}

#fixed-bar > div .wrap_icon {
  margin-top: 5px;
  margin-bottom: 3px
}

#fixed-bar > div .wrap_icon i {
  padding: 5px 15px
}

#fixed-bar .buy_now_bt .wrap_icon i {
  background-position: 0px -351px
}

#fixed-bar .call .wrap_icon i {
  background-position: -34px -351px
}

#fixed-bar #bar-inner .wrap_icon i {
  background-position: -64px -351px
}

.certified_bct {
  background-position: 0px -92px;
  content: ' ';
  height: 36px;
  display: block;
  margin-top: 11px;
  padding-top: 12px;
  width: 131px
}

.suntory-alo-phone {
  background-color: transparent;
  cursor: pointer;
  height: 120px;
  position: fixed;
  transition: visibility 0.5s ease 0s;
  width: 120px;
  z-index: 100 !important;
  display: none;
  left: 0px;
  bottom: -25px
}

.suntory-alo-ph-circle {
  animation: 1.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim;
  background-color: transparent;
  border: 2px solid rgba(30, 30, 30, 0.4);
  border-radius: 100%;
  height: 100px;
  left: 0px;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  transform-origin: 50% 50% 0;
  transition: all 0.5s ease 0s;
  width: 100px
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle {
  border-color: #0067BE;
  opacity: 1
}

.suntory-alo-ph-circle-fill {
  animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
  border: 2px solid transparent;
  border-radius: 100%;
  height: 70px;
  left: 15px;
  position: absolute;
  top: 15px;
  transform-origin: 50% 50% 0;
  transition: all 0.5s ease 0s;
  width: 70px
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle-fill {
  background-color: rgba(0, 103, 190, 0.9)
}

.suntory-alo-ph-img-circle {
  border-radius: 100%;
  height: 36px;
  left: 0px;
  position: absolute;
  top: 15px;
  transform-origin: 50% 50% 0;
  width: 36px
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-img-circle {
  background-color: #e60f1e
}

.suntory-alo-ph-img-circle svg {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 20px;
  height: 20px
}

.description a {
  color: #00A7F4
}

.description a:hover {
  color: #057bb1
}

@keyframes suntory-alo-circle-anim {
  0% {
    opacity: 0.1;
    transform: rotate(0deg) scale(0.5) skew(1deg)
  }
  30% {
    opacity: 0.5;
    transform: rotate(0deg) scale(0.7) skew(1deg)
  }
  100% {
    opacity: 0.6;
    transform: rotate(0deg) scale(1) skew(1deg)
  }
}

@keyframes suntory-alo-circle-img-anim {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
}

@keyframes suntory-alo-circle-fill-anim {
  0% {
    opacity: 0.2;
    transform: rotate(0deg) scale(0.7) skew(1deg)
  }
  50% {
    opacity: 0.2;
    transform: rotate(0deg) scale(1) skew(1deg)
  }
  100% {
    opacity: 0.2;
    transform: rotate(0deg) scale(0.7) skew(1deg)
  }
}

#cfacebook a.chat_fb_openned:before {
  content: 'x';
  position: absolute;
  right: 10px;
  color: #fff;
  top: 3px
}

#cfacebook .fchat {
  float: left;
  width: 100%;
  height: 270px;
  overflow: hidden;
  display: none;
  background-color: #fff
}

#cfacebook .fchat .fb-page {
  margin-top: -130px;
  float: left
}

#cfacebook a.chat_fb:hover {
  color: #ff0;
  text-decoration: none
}

#cfacebook {
  position: fixed;
  bottom: 185px;
  left: 10px;
  z-index: 99999;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden
}

@media all and (max-width: 600px) {
  #cfacebook {
    display: none
  }
}

#cfacebook a.chat_fb {
  float: left;
  padding: 6px 6px 0px 6px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-repeat: repeat-x;
  background-size: auto;
  background-position: 0 0;
  background-color: #3a5795;
  border: 0;
  z-index: 9999999;
  font-size: 15px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  display: block;
  position: relative
}

#cfacebook a.chat_fb:after {
  display: block;
  width: 19px;
  height: 19px;
  color: #FFF;
  content: "2";
  position: absolute;
  top: 0px;
  right: 0px;
  background: red;
  border-radius: 50%;
  font-size: 13px;
  line-height: 18px
}

#cfacebook a.chat_fb svg {
  width: 45px;
  height: 45px
}

#cfacebook a.chat_fb span {
  display: none
}

#cfacebook .fchat .fb-page {
  margin-top: 0px;
  float: left
}

#cfacebook a.chat_fb_openned {
  border-radius: 0;
  width: 100%
}

#cfacebook a.chat_fb_openned svg {
  display: none
}

#cfacebook a.chat_fb_openned i {
  display: none
}

#cfacebook a.chat_fb_openned::after {
  display: none
}

#cfacebook a.chat_fb_openned span {
  display: block
}

.fixed_icons {
  position: fixed;
  right: 0;
  top: 40%;
  transform: translate(0, -50px);
  z-index: 100;
  display: none
}

.fixed_icons .icon_v1 {
  width: 44px;
  height: 44px;
  display: inline-block;
  background-color: var(--extra-color)
}

.address_header .more_info {
  position: relative
}

.address_header .more_info::before {
  position: absolute;
  content: ' ';
  width: 10px;
  height: 10px;
  top: 3px;
  right: 0px;
  background-position: -45px -70px;
  background-repeat: no-repeat;
  z-index: 100;
  background-color: #FFF
}

.address_header {
  display: none
}

.address_fixed_popup {
  margin-top: -3px
}

.hotline_fixed_popup, .address_fixed_popup {
  position: relative
}

.hotline_fixed_popup .icon_v1:after {
  content: '';
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="28" width="28" fill="white" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M78.014,20.385c8.463,8.75,12.51,18.127,12.84,29.081c0.076,2.519-1.453,4.183-3.876,4.312  c-2.557,0.136-4.293-1.441-4.356-4.012c-0.134-5.394-1.357-10.521-4.033-15.211C72.491,23.871,63.191,18.302,50.95,17.603  c-1.358-0.077-2.631-0.218-3.586-1.305c-1.223-1.391-1.33-2.991-0.672-4.62c0.664-1.642,2.01-2.382,3.759-2.352  c7.969,0.135,15.321,2.353,21.955,6.761C74.697,17.61,76.787,19.437,78.014,20.385z M50.11,24.674  c-0.732-0.01-1.53,0.134-2.189,0.44c-1.704,0.79-2.505,2.791-2.048,4.786c0.402,1.758,1.954,2.972,3.906,2.996  c4.562,0.056,8.597,1.499,11.951,4.624c3.688,3.434,5.41,7.741,5.588,12.751c0.032,0.891,0.367,1.904,0.891,2.618  c1.094,1.49,3.037,1.864,4.821,1.184c1.577-0.601,2.506-2.014,2.492-3.886c-0.051-6.981-2.592-12.943-7.5-18.08  C63.098,27.364,57.118,24.773,50.11,24.674z M73.486,87.206c1.689-1.888,3.575-3.599,5.361-5.401  c2.643-2.667,2.664-5.902,0.036-8.55c-3.134-3.157-6.28-6.302-9.44-9.433c-2.586-2.562-5.819-2.556-8.393-0.005  c-1.966,1.948-3.936,3.893-5.86,5.882c-0.133,0.137-0.261,0.247-0.389,0.328l-1.346,1.346c-0.375,0.239-0.748,0.236-1.236-0.029  c0.73-0.689-2.619-1.246-3.839-2.012c-5.695-3.575-10.471-8.183-14.694-13.374c-2.101-2.582-3.968-5.329-5.259-8.431  c-0.215-0.517-0.221-0.888,0.067-1.281l1.346-1.346c0.064-0.087,0.137-0.175,0.231-0.265c0.59-0.569,1.175-1.143,1.757-1.72  c1.361-1.348,2.706-2.711,4.057-4.069c2.69-2.703,2.684-5.88-0.015-8.604c-1.531-1.544-3.074-3.077-4.612-4.614  c-1.585-1.584-3.157-3.181-4.756-4.75c-2.59-2.543-5.824-2.548-8.408-0.007c-1.973,1.941-3.882,3.948-5.886,5.856  c-1.866,1.777-2.817,3.931-3.007,6.463c-0.307,4.104,0.699,7.983,2.106,11.77c2.909,7.832,7.333,14.766,12.686,21.137  c7.239,8.617,15.894,15.436,26.017,20.355c4.554,2.213,9.283,3.915,14.409,4.196C67.944,90.844,71.028,89.954,73.486,87.206z"/></svg>');
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  display: block;
  margin: 8px
}

.address_fixed_popup .icon_v1:after {
  content: '';
  background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fas" data-icon="map-marker-alt" role="img" height="28" width="28" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12"><path fill="white" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg>');
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  display: block;
  margin: 8px
}

.hotline_fixed_popup_content, .address_header {
  position: absolute;
  width: 260px;
  top: 0;
  right: 100%;
  padding-right: 10px;
  display: none;
  margin-top: 0
}

.hotline_fixed_popup:hover .hotline_fixed_popup_content {
  display: block
}

.address_fixed_popup:hover .address_header {
  display: block;
  max-height: 166px;
  overflow-y: auto;
  overflow-x: hidden
}

.add_full, .support_phone {
  position: relative;
  width: 100%;
  right: 0;
  background: #FFF;
  border: 1px solid #F5F5F5;
  padding: 10px;
  border-radius: 0 0 4px 4px;
  border-top: 3px solid #0183BF;
  z-index: 101;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  box-sizing: border-box
}

.add_full ul {
  position: relative;
  padding-left: 18px;
  margin-bottom: 10px
}

.add_full ul::before {
  position: absolute;
  content: ' ';
  width: 14px;
  height: 20px;
  top: 4px;
  left: 0px;
  position: absolute;
  background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12"><path fill="dodgerblue" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path></svg>');
  background-repeat: no-repeat;
  content: ' ';
  top: 1px;
  left: 0px
}

.add_full ul li:nth-child(2) {
  color: #999999;
  font-size: 13px;
  margin-top: 2px
}

.support_phone ul li .name {
  font-weight: bold
}

.support_phone ul li .phone {
  color: #afafaf;
  font-size: 15px;
  margin-top: 6px
}

.support_phone ul li .phone a {
  color: #777;
  font-size: 13px
}

.address_header:hover .add_full {
  display: block !important;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease
}

.header .hotline:hover .support_phone {
  display: block !important;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease
}

.arrow_box {
  position: relative;
  background: #FFF;
  border: 1px solid #F5F5F5
}

.arrow_box:after, .arrow_box:before {
  left: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #FFF;
  border-width: 8px;
  margin-top: -8px
}

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #F5F5F5;
  border-width: 9px;
  margin-top: -9px
}

@media only screen and (max-width: 880px) {
  .pos_mixed_left {
    float: none;
    width: 100%
  }
  .pos_mixed_right {
    float: none;
    width: 100%;
    margin-top: 15px
  }
}

@media only screen and (max-width: 780px) {
  .slideshow_countdown .slideshow {
    width: 100%;
    float: left;
    max-width: 100%;
    margin-top: 5px
  }
  .slideshow_countdown > .countdown {
    width: 100%;
    clear: both;
    margin-top: 5px;
    display: none
  }
}

@media only screen and (max-width: 600px) {
  .address_header {
    display: none
  }
  footer .menu_footer {
    width: 100%;
    margin-top: 20px;
    padding: 0
  }
  .suntory-alo-phone {
    display: block;
    bottom: 98px;
    width: 40px;
    height: 40px
  }
}

@media only screen and (max-width: 450px) {
  .regions_search .block_regions {
    width: 80px
  }
}

.banner-home-top {
  margin-top: 20px;
  background-size: cover
}

@media all and (max-width: 800px) {
  .banner-home-top {
    margin-top: 0px
  }
}

@media all and (max-width: 600px) {
  .banner-home-top {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    display: none
  }
}

.banner-home-bottom {
  margin-bottom: 10px
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg)
  }
  40% {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(10deg)
  }
  70% {
    transform: rotate(-10deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

@keyframes fade-bg1111 {
  0% {
    transform: translate(30px);
    opacity: 0, 5
  }
  50% {
    transform: translate(-140px);
    opacity: 1
  }
  51% {
    transform: translate(-140px);
    opacity: 0.5
  }
  100% {
    transform: translate(30px);
    opacity: 1
  }
}

@keyframes fade-bg1112 {
  0% {
    transform: scale(0.9, 1.1)
  }
  50% {
    transform: scale(0.7, 0.8)
  }
  51% {
    transform: scale(0.7, 0.8)
  }
  100% {
    transform: scale(0.9, 1.1)
  }
}

@keyframes chang-rotage-anim-2-bh {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
  45% {
    transform: rotate(-25deg) scale(1.3) skew(1deg)
  }
  60% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  65% {
    transform: rotate(-25deg) scale(1.3) skew(1deg)
  }
  70% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  85% {
    transform: rotateY(360deg) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
}

#fixed-bar {
  margin: 0;
  padding: 0;
  z-index: 100;
  right: 10px;
  border-radius: 50%
}

@media all and (max-width: 600px) {
  #fixed-bar {
    bottom: 70px !important
  }
}

#fixed-bar #bar-inner {
  height: 50px;
  margin: 0 10px 0 auto
}

#fixed-bar #bar-inner a {
  background: #fc860059;
  opacity: 0.7;
  display: block;
  border-radius: 50%;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in 0;
  -webkit-transition: all 0.2s ease-in;
  -webkit-transition-delay: 0;
  transition: all 0.2s ease-in 0;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  box-sizing: border-box;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s
}

#fixed-bar #bar-inner a svg {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  fill: #fff;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s
}

#fixed-bar:hover #bar-inner a {
  opacity: 1
}

#fixed-bar:hover #bar-inner a svg {
  fill: var(--main-color)
}

.tag_foot {
  margin-top: 5px
}

.tag_foot a {
  color: #bdbdbd
}

@media all and (max-width: 800px) {
  .support {
    width: 100%;
    padding-left: 0px
  }
}

@media all and (max-width: 600px) {
  .support {
    width: 100%;
    padding-right: 0
  }
}

.support .item {
  position: relative;
  padding-left: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  margin-bottom: 20px
}

@media all and (max-width: 800px) and (min-width: 500px) {
  .support .item {
    width: 50%;
    float: left;
    box-sizing: border-box
  }
}

.support .item:nth-child(1) {
  background: #22d000
}

.support .item:nth-child(2) {
  background: #e71b1b
}

.support .item svg {
  position: absolute;
  width: 40px;
  height: 40px;
  fill: #fff;
  left: 15px
}

.support .item span {
  text-transform: uppercase;
  font-size: 18px
}

.support .item a {
  margin-top: 6px;
  color: #fff;
  font-style: italic;
  font-size: 16px;
  transition: 0.5s
}

.support .item a:hover {
  color: #fff900
}

#modal_alert {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99999;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px
}

.modal_alert_inner {
  width: 350px;
  background: white;
  border-radius: 2px;
  max-width: 96%;
  margin: 2% auto
}

.modal_alert_title {
  background: var(--main-color);
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 0;
  font-size: 17px;
  position: relative;
  border-radius: 2px 2px 0 0
}

.modal_alert_title .close {
  position: absolute;
  right: 0px;
  padding: 0px 10px 8px;
  top: 7px;
  color: #FFF;
  font-size: 22px
}

.modal_alert_body {
  background: white;
  color: #616161;
  padding: 20px;
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -o-user-select: text;
  user-select: text;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px
}

.modal_alert_2 {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99999;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px
}

.modal_alert_2 .modal_alert_inner {
  width: 350px;
  background: white;
  border-radius: 2px;
  max-width: 96%;
  margin: 2% auto
}

.modal_alert_2 .modal_alert_title {
  background: var(--main-color);
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 0;
  font-size: 17px;
  position: relative;
  border-radius: 2px 2px 0 0
}

.modal_alert_2 .modal_alert_title .close {
  position: absolute;
  right: 0px;
  padding: 0px 10px 8px;
  top: 7px;
  color: #FFF;
  font-size: 22px
}

.modal_alert_2 .modal_alert_body {
  background: white;
  color: #616161;
  padding: 20px;
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -o-user-select: text;
  user-select: text;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px
}

#embed_vchat {
  bottom: 70px !important
}

#embed_fill {
  bottom: 60px !important
}

#embed_circle {
  bottom: 53px !important
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 1 !important
}

.popup {
  width: 100%;
  height: 700px;
  background: #ddddddab;
  position: fixed;
  z-index: 99999;
  text-align: center
}

.popup .container {
  border-radius: 10px;
  position: relative;
  height: 100%
}

@media all and (max-width: 800px) {
  .popup .container {
    padding: 10px
  }
}

.popup .container .close {
  font-size: 25px;
  color: red;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  background: #fff;
  text-align: center;
  line-height: 28px;
  border-radius: 0 10px 0 0;
  cursor: pointer
}

.popup .container .block_banner_banner {
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

@media all and (max-width: 600px) {
  .popup .container .block_banner_banner {
    max-width: 100%
  }
}

.popup .container .block_banner_banner .item {
  position: relative
}

.popup .container .block_banner_banner .item img {
  border-radius: 10px
}

.popup .container .block_banner_banner .hide {
  display: block
}

#cfacebookmb .fchat {
  float: left;
  width: 100%;
  height: 270px;
  overflow: hidden;
  display: none;
  background-color: #fff
}

#cfacebookmb .fchat .fb-page {
  margin-top: -130px;
  float: left
}

#cfacebookmb a.chat_mb:hover {
  color: #ff0;
  text-decoration: none
}

#cfacebookmb {
  position: fixed;
  bottom: 100px;
  left: 10px;
  z-index: 100;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden
}

#cfacebookmb a.chat_mb {
  float: left;
  padding: 6px 6px 0px 6px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-repeat: repeat-x;
  background-size: auto;
  background-position: 0 0;
  background-color: #006cd2;
  border: 0;
  z-index: 9999999;
  font-size: 15px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  display: block;
  position: relative
}

#cfacebookmb a.chat_mb:after {
  display: none;
  width: 19px;
  height: 19px;
  color: #FFF;
  content: "2";
  position: absolute;
  top: 0px;
  right: 0px;
  background: #3a5795;
  border-radius: 50%;
  font-size: 13px;
  line-height: 18px
}

#cfacebookmb a.chat_mb svg {
  width: 34px;
  height: 34px
}

#cfacebookmb a.chat_fb span {
  display: none
}

#cfacebookmb .fchat .fb-page {
  margin-top: 0px;
  float: left
}

#cfacebookmb a.chat_fb_openned {
  border-radius: 0;
  width: 100%
}

#cfacebookmb a.chat_fb_openned svg {
  display: none
}

#cfacebookmb a.chat_fb_openned i {
  display: none
}

#cfacebookmb a.chat_fb_openned::after {
  display: none
}

#cfacebookmb a.chat_fb_openned span {
  display: block
}

#sms .fchat {
  float: left;
  width: 100%;
  height: 270px;
  overflow: hidden;
  display: none;
  background-color: #fff
}

#sms .fchat .fb-page {
  margin-top: -130px;
  float: left
}

#sms a.chat_mb:hover {
  color: #ff0;
  text-decoration: none
}

#sms {
  position: fixed;
  top: 265px;
  right: 10px;
  z-index: 99999;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden
}

#sms a.chat_mb {
  float: left;
  padding: 15px 15px 12px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-repeat: repeat-x;
  background-size: auto;
  background-position: 0 0;
  background-color: #ffae00;
  border: 0;
  z-index: 9999999;
  font-size: 15px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  display: block;
  position: relative
}

#sms a.chat_mb svg {
  width: 30px;
  height: 30px;
  fill: #fff
}

#zalo .fchat {
  float: left;
  width: 100%;
  height: 270px;
  overflow: hidden;
  display: none;
  background-color: #fff
}

#sms .fchat .fb-page {
  margin-top: -130px;
  float: left
}

#zalo a.chat_mb:hover {
  color: #ff0;
  text-decoration: none
}

#zalo {
  position: fixed;
  left: 0px;
  z-index: 100;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  bottom: 128px
}

@media all and (min-width: 800px) {
  #zalo {
    bottom: 100px
  }
}

#zalo a.chat_mb {
  float: left;
  padding: 0;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-repeat: repeat-x;
  background-size: auto;
  background-position: 0 0;
  border: 0;
  z-index: 9999999;
  font-size: 15px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  display: block;
  position: relative;
  background: #0ea9e1;
  width: 36px;
  height: 36px;
  position: relative
}

@media all and (min-width: 800px) {
  #zalo a.chat_mb {
    width: 56px;
    height: 56px
  }
}

#zalo a.chat_mb:before {
  content: '';
  width: 25px;
  height: 25px;
  background-image: url(https://hailinh.vn/templates/hailinh/images/zalo.png);
  position: absolute;
  top: 5px;
  left: 6px;
  background-size: cover
}

@media all and (min-width: 800px) {
  #zalo a.chat_mb:before {
    width: 44px;
    height: 44px
  }
}

#zalo a.chat_mb svg {
  width: 60px;
  height: 60px;
  fill: #fff
}

#vgc_btn_chat_mobile {
  bottom: 55px !important
}

.tab_fix {
  position: fixed;
  width: 100%;
  z-index: 999;
  bottom: 0px;
  background: var(--main-color)
}

.tab_fix li {
  width: 33.33%;
  float: left;
  padding: 10px 0;
  text-align: center
}

.tab_fix li a {
  color: #fff
}

.tab_fix li a svg {
  fill: #fff;
  width: 15px;
  height: 15px
}

.region_list {
  max-height: 150px;
  overflow-y: scroll
}

.ul_footer .li_f {
  position: relative;
  margin-bottom: 13px
}

.ul_footer .li_f:nth-child(5) {
  margin-bottom: 1px
}

.ul_footer .li_f .svg {
  float: left;
  padding: 8px;
  border: 1px solid #5d5d5d;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  border-radius: 3px
}

.ul_footer .li_f .svg svg {
  width: 18px;
  height: 18px;
  fill: #fff
}

.ul_footer .li_f .text {
  float: left;
  margin-left: 10px;
  font-size: 13px;
  width: calc(100% - 46px)
}

.ul_footer .li_f font {
  font-weight: bold
}

.ul_footer2 .li_f {
  margin-bottom: 20px;
  position: relative
}

@media all and (max-width: 600px) {
  .ul_footer2 .li_f {
    width: 50%;
    float: left
  }
}

.ul_footer2 .li_f .svg {
  float: left;
  padding: 8px;
  border: 1px solid #5d5d5d;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  border-radius: 3px
}

.ul_footer2 .li_f .svg svg {
  width: 18px;
  height: 18px;
  fill: #fff
}

.ul_footer2 .li_f .text {
  float: left;
  margin-left: 10px;
  font-size: 13px;
  width: calc(100% - 46px)
}

.ul_footer2 .li_f font {
  font-weight: bold
}

.footer_icon {
  padding: 15px 25px;
  box-sizing: border-box;
  border: 1px solid #404040
}

.footer_icon .chung_nhan {
  padding-left: 50px;
  width: 50%;
  float: left;
  box-sizing: border-box
}

@media all and (max-width: 600px) {
  .footer_icon .chung_nhan {
    width: 100%;
    padding-left: 0
  }
}

.footer_icon .chung_nhan span {
  display: inline-block;
  float: left;
  line-height: 38px;
  margin-right: 50px;
  width: 80px
}

@media all and (max-width: 800px) {
  .footer_icon .chung_nhan span {
    line-height: 26px
  }
}

.footer_icon .chung_nhan .chung_nhan_inner {
  display: flex;
  float: left;
  width: calc(100% - 130px)
}

@media all and (max-width: 800px) {
  .footer_icon .chung_nhan .chung_nhan_inner {
    width: 100%
  }
}

.footer_icon .chung_nhan a {
  display: inline-block;
  margin-right: 5px
}

@media all and (max-width: 1200px) {
  .footer_icon .chung_nhan a img {
    height: auto
  }
}

.height_auto {
  height: auto !important
}

.position_auto {
  position: relative !important;
  bottom: auto !important
}

.right_b .block_title {
  font-size: 18px;
  position: relative;
  color: #333;
  font-weight: bold;
  background: #ecececa3;
  padding: 16px 24px
}

.right_b .block_title:after {
  position: absolute;
  height: 50px;
  width: 6px;
  background: var(--main-color);
  content: '';
  left: 0px;
  bottom: 0px
}

@media only screen and (max-width: 550px) {
  .right_b .block_title {
    font-size: 16px;
    padding: 10px 16px
  }
  .right_b .block_title:after {
    height: 38px;
    width: 3px
  }
}

.right_b .blocks0 .news_list_body_default {
  margin-top: 26px
}

@media only screen and (max-width: 550px) {
  .right_b .blocks0 .news_list_body_default {
    margin-top: 10px
  }
}

.right_b .blocks1 .block_title {
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  color: #333;
  font-weight: bold
}

.right_b .blocks1 .block_title:after {
  position: absolute;
  height: 4px;
  width: 68px;
  background: var(--main-color);
  content: '';
  left: 0px;
  bottom: -16px
}

@media screen and (max-width: 768px) {
  .right_b .blocks1 .block_title {
    font-size: 16px
  }
  .right_b .blocks1 .block_title:after {
    height: 2px
  }
}

.display-flex {
  display: flex !important
}

.display_open, .display-open {
  display: block !important
}

.display_off, .display-off {
  display: none !important
}

.full-screen-block-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: #0000009c;
  display: none;
  z-index: 2000
}

.banner-promotion {
  position: fixed;
  top: 20%;
  z-index: 111111111;
  left: calc(50% - 300px);
  display: none
}

@media only screen and (max-width: 900px) {
  .banner-promotion {
    left: 0px;
    padding: 20px
  }
}

.banner-promotion .img-banner {
  position: relative;
  width: 600px;
  height: auto;
  text-align: center
}

@media only screen and (max-width: 900px) {
  .banner-promotion .img-banner {
    width: auto
  }
}

.banner-promotion .img-banner .close-pro {
  position: absolute;
  top: 5px;
  right: 5px;
  background: white;
  padding: 5px;
  border-radius: 0 10px 0px 10px;
  cursor: pointer
}

.mm-opening .all-navicon-line {
  transform: rotate(45deg)
}

.mm-opening .all-navicon-line .navicon-line-1 {
  transform: rotate(-45deg);
  margin-top: 8px;
  width: 28px
}

.mm-opening .all-navicon-line .navicon-line-2 {
  transform: rotate(-135deg);
  margin-top: -8px;
  width: 28px
}

.mm-opening .all-navicon-line .navicon-line-3 {
  display: none
}

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play {
  background: url("https://hailinh.vn/templates/hailinh/images/fotorama.png") no-repeat
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 2dppx) {
  .fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play {
    background: url("https://hailinh.vn/templates/hailinh/images/fotorama@2x.png") 0 0/96px 160px no-repeat
  }
}

.header_wrapper_img {
  background-position: center;
  background-repeat: repeat-x;
  background-size: 100%
}

.bg_footer_img {
  background-position: top;
  background-repeat: repeat-x;
  background-size: 100%
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1111;
  transform: translate(-50%, -50%);
  display: none
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.hot_call .alo-floating-zalo {
  bottom: 95px;
  left: unset;
  right: 30px
}

@media all and (max-width: 600px) {
  .hot_call .alo-floating-zalo {
    bottom: 45px
  }
}

@media all and (max-width: 600px) {
  .hot_call {
    display: none
  }
}

.alo-floating {
  display: block;
  left: 10px;
  bottom: 10px;
  position: fixed;
  z-index: 9999;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-shadow: 1px 1px 0 #000;
  border-radius: 40px;
  cursor: pointer;
  padding-right: 5px;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #e42222;
  padding: 0 10px
}

.alo-floating-zalo {
  bottom: 60px;
  padding-left: 45px;
  background: url(https://hailinh.vn/templates/hailinh/images/icon-zalo.png) 8px center no-repeat, #009dff;
  background-size: 30px auto
}

.alo-floating a {
  color: #FFF
}

.alo-floating a:hover {
  color: var(--main-color)
}

@-webkit-keyframes quick-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: .1
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: .5
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1
  }
}

@-o-keyframes quick-alo-circle-anim {
  0% {
    -o-transform: rotate(0) scale(0.5) skew(1deg);
    -o-opacity: .1
  }
  30% {
    -o-transform: rotate(0) scale(0.7) skew(1deg);
    -o-opacity: .5
  }
  100% {
    -o-transform: rotate(0) scale(1) skew(1deg);
    -o-opacity: .1
  }
}

@-moz-keyframes quick-alo-circle-fill-anim {
  0% {
    -moz-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2
  }
  50% {
    -moz-transform: rotate(0) -moz-scale(1) skew(1deg);
    opacity: .2
  }
  100% {
    -moz-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2
  }
}

@-webkit-keyframes quick-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2
  }
}

@-o-keyframes quick-alo-circle-fill-anim {
  0% {
    -o-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2
  }
  50% {
    -o-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2
  }
  100% {
    -o-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2
  }
}

@-moz-keyframes quick-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    -moz-transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    -moz-transform: rotate(0) scale(1) skew(1deg)
  }
}

@-webkit-keyframes quick-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg)
  }
}

@-o-keyframes quick-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    -o-transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    -o-transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    -o-transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    -o-transform: rotate(0) scale(1) skew(1deg)
  }
}

@keyframes quick-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg)
  }
}

.quick-alo-phone {
  position: fixed;
  visibility: hidden;
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  -moz-transition: visibility .5s;
  -o-transition: visibility .5s;
  transition: visibility .5s;
  bottom: 20%;
  left: -10px
}

.quick-alo-phone.quick-alo-hover, .quick-alo-phone:hover {
  opacity: 1
}

.quick-alo-phone.quick-alo-show {
  visibility: visible
}

.quick-alo-phone.quick-alo-green .quick-alo-ph-circle {
  border-color: #00aff2;
  opacity: .5
}

.quick-alo-ph-circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: .1;
  -webkit-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
  -o-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
  animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}

.quick-alo-ph-circle-fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .1;
  -webkit-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}

.quick-alo-phone.quick-alo-green .quick-alo-ph-circle-fill {
  background-color: rgba(51, 122, 83, 0.7);
  opacity: .75 !important
}

.quick-alo-phone.quick-alo-green .quick-alo-ph-img-circle {
  background-color: #00aff2
}

.quick-alo-ph-img-circle {
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  background: rgba(30, 30, 30, 0.1) url("https://hailinh.vn/templates/hailinh/images/icon-phone.png") no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7;
  -webkit-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}

.quick-alo-phone.quick-alo-green.quick-alo-hover .quick-alo-ph-circle-fill, .quick-alo-phone.quick-alo-green:hover .quick-alo-ph-circle-fill {
  background-color: rgba(51, 122, 83, 0.7);
  opacity: .75 !important
}

.quick-alo-phone.quick-alo-green.quick-alo-hover .quick-alo-ph-img-circle, .quick-alo-phone.quick-alo-green:hover .quick-alo-ph-img-circle {
  background-color: #75eb50
}

.quick-alo-phone.quick-alo-green.quick-alo-hover .quick-alo-ph-circle, .quick-alo-phone.quick-alo-green:hover .quick-alo-ph-circle {
  border-color: #75eb50;
  opacity: .5
}

.hotline-phone-ring-wrap2 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999
}

@media all and (min-width: 1300px) {
  .hotline-phone-ring-wrap2 {
    bottom: 8px
  }
}

@media all and (max-width: 600px) {
  .hotline-phone-ring-wrap2 {
    bottom: -25px;
    left: -20px
  }
}

.hotline-phone-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: visibility .5s;
  left: 0;
  bottom: 0;
  display: block
}

.hotline-bar {
  position: absolute;
  background: var(--main-color);
  height: 45px;
  white-space: nowrap;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  z-index: 9;
  border-radius: 50px !important;
  left: 42px;
  bottom: 31px
}

.hotline-bar > a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-indent: 32px;
  letter-spacing: 1px;
  display: block;
  line-height: 45px
}

.hotline-bar > a:hover, .hotline-bar > a:active {
  color: #fff
}

.hot_call .quick-alo-ph-circle {
  top: 0;
  left: 0;
  width: 110px;
  height: 110px
}

.hot_call .quick-alo-ph-circle-fill {
  top: 16px;
  left: 16px;
  width: 80px;
  height: 80px;
  background: rgba(51, 122, 83, 0.7)
}

.hot_call .quick-alo-ph-img-circle {
  top: 31px;
  left: 31px;
  width: 50px;
  height: 50px;
  background: var(--main-color);
  opacity: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box
}

.hot_call .quick-alo-ph-img-circle .pps-btn-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.hot_call .quick-alo-ph-img-circle .pps-btn-img img {
  width: 33px;
  height: 33px
}

.hot_call .quick-alo-ph-img-circle, .hotline-bar {
  background-color: #eb081e !important
}

.hot_call .quick-alo-ph-circle-fill {
  background: #ec091fb3 !important
}

@media all and (max-width: 1000px) {
  .d-none {
    display: none
  }
}