.block-strengths-row-2 {
  display: flex;
  flex-wrap: wrap
}

.block-strengths-row-2 .item {
  width: calc(100% / 3);
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: 0px 50px
}

@media all and (max-width: 1100px) {
  .block-strengths-row-2 .item {
    padding: 0px 5px
  }
}

.block-strengths-row-2 .item .asvg {
  display: inline-block;
  width: 68px;
  height: 68px;
  background: var(--main-color);
  position: relative
}

.block-strengths-row-2 .item svg {
  width: 38px;
  height: 38px;
  fill: #fff;
  position: absolute;
  left: 24%;
  top: 23%
}

.block-strengths-row-2 .item .content-right {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 23px;
  width: calc(100% - 83px);
  float: right;
  font-weight: bold;
  text-align: left;
  margin-top: 13px
}

@media all and (max-width: 900px) {
  .block-strengths-row-2 .item .content-right {
    font-size: 14px
  }
}

@media screen and (max-width: 768px) {
  .block-strengths-row-2 .item .content-right {
    text-transform: unset;
    line-height: 22px;
    width: 100%;
    float: none;
    font-weight: bold;
    text-align: center;
    margin-top: 5px
  }
}

@media screen and (max-width: 515px) {
  .block-strengths-row-2 .item .asvg {
    width: 50px;
    height: 50px
  }
  .block-strengths-row-2 .item svg {
    width: 28px;
    height: 28px
  }
  .block-strengths-row-2 .item .content-right {
    line-height: 18px
  }
}

.block-strengths-row-2 .item:nth-child(1) svg {
  animation: 4s ease-in-out 0s normal none infinite running chang-rotage-anim
}

.block-strengths-row-2 .item:nth-child(2) svg {
  animation: 4s ease-in-out 0s normal none infinite running chang-rotage-anim-a1
}

.block-strengths-row-2 .item:nth-child(3) svg {
  animation: 4s ease-in-out 0s normal none infinite running chang-rotage-anim-a2
}

@keyframes chang-rotage-anim {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
  5% {
    transform: rotate(-10deg) scale(1) skew(1deg)
  }
  10% {
    transform: rotate(10deg) scale(1) skew(1deg)
  }
  15% {
    transform: rotate(-10deg) scale(1) skew(1deg)
  }
  20% {
    transform: rotate(10deg) scale(1) skew(1deg)
  }
  25% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
}

@keyframes chang-rotage-anim-a1 {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
  25% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
  30% {
    transform: rotate(-10deg) scale(1) skew(1deg)
  }
  35% {
    transform: rotate(10deg) scale(1) skew(1deg)
  }
  40% {
    transform: rotate(-10deg) scale(1) skew(1deg)
  }
  45% {
    transform: rotate(10deg) scale(1) skew(1deg)
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
}

@keyframes chang-rotage-anim-a2 {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
  55% {
    transform: rotate(-10deg) scale(1) skew(1deg)
  }
  60% {
    transform: rotate(10deg) scale(1) skew(1deg)
  }
  65% {
    transform: rotate(-10deg) scale(1) skew(1deg)
  }
  70% {
    transform: rotate(10deg) scale(1) skew(1deg)
  }
  75% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg)
  }
}