@media only screen and (max-width: 1050px) {
  .block-manufactories-row2-all {
    overflow-x: auto
  }
}

.block-manufactories-row2 {
  margin: 0px -2px
}

.block-manufactories-row2 .item {
  width: calc(100% / 10 - 4px);
  float: left;
  background: #fff;
  padding: 5px;
  box-sizing: border-box;
  margin: 2px;
  position: relative
}

.block-manufactories-row2 .item .view-more {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0px;
  left: 0px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center
}

.block-manufactories-row2 .item .view-more span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  color: var(--main-color);
  text-transform: uppercase
}

@media only screen and (max-width: 900px) {
  .block-manufactories-row2 .item .view-more span {
    text-transform: unset
  }
}

.block-manufactories-row2 .item .view-more:hover {
  background: var(--main-color)
}

.block-manufactories-row2 .item .view-more:hover span {
  color: #fff
}