.search-contain {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  float: left
}

@media all and (max-width: 800px) {
  .search-contain {
    float: none;
    margin: auto
  }
}

.search-contain .search-content {
  border-radius: 4px;
  border: none
}

.search-contain input[type="text"] {
  background: #FFF;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 0px solid #eee;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 13px
}

@media all and (max-width: 600px) {
  .search-contain input[type="text"] {
    height: 33px;
    padding-left: 6px
  }
}

#search_form {
  position: relative
}

.button-search {
  width: 50px;
  height: 40px;
  position: absolute;
  background: #fff;
  border: none;
  right: 0;
  top: 0px;
  border-radius: 0 4px 4px 0
}

@media all and (max-width: 600px) {
  .button-search {
    height: 33px!important;
    width: 33px!important;
  }
}

.button-search span {
  width: 20px;
  height: 20px;
  background: transparent;
  color: #7d7d7d;
  padding: 10px;
  fill: #7d7d7d
}

@media all and (max-width: 600px) {
  .button-search span {
    padding: 10px;
    width: 16px;
    height: 16px
  }
}

.button-search span.icon-search {
  width: 26px;
  height: 29px;
  background-position: 0px 0px;
  display: block;
  font-size: 21px;
}

.autocomplete-suggestions {
  position: absolute;
  top: 4px;
  right: -5px;
  margin: 6px 0 0 6px;
  _background: none;
  _margin: 1px 0 0 0
}

.autocomplete-suggestions {
  border: 1px solid #ececec;
  background: #fff;
  cursor: default;
  overflow: auto;
  margin: 0 0px 6px -1px;
  width: 100%;
  top: 31px;
  left: 101px
}

@media only screen and (min-width: 1180px) {
  .autocomplete-suggestions {
    width: 46% !important
  }
}

@media only screen and (max-width: 1024px) {
  .autocomplete-suggestions {
    top: 66px;
    left: 263px
  }
}

@media only screen and (max-width: 768px) {
  .autocomplete-suggestions {
    top: 56px;
    left: 158px
  }
}

@media only screen and (max-width: 414px) {
  .autocomplete-suggestions {
    top: 44px;
    left: 91px
  }
}

.autocomplete-suggestions driv {
  cursor: pointer;
  width: 100%;
  display: inline-block;
  clear: both;
  padding: 0;
  margin: 0;
  margin-bottom: -5px
}

.autocomplete-suggestions .autocomplete-group {
  padding: 8px 3%;
  width: 100%;
  background: #f9f9f9;
  box-sizing: border-box
}

.autocomplete-suggestions div a, .autocomplete-suggestions div a:link, .autocomplete-suggestions div a:visited {
  display: inline-block;
  margin: 0;
  padding: 6px 3%;
  width: 100%;
  font-size: 13px;
  color: #333;
  background: #fff;
  clear: both;
  border-bottom: 1px solid #eee;
  box-sizing: border-box
}

.autocomplete-suggestions div a:hover {
  background: #ececec
}

.autocomplete-suggestions div a img {
  width: 64px;
  float: left;
  margin-right: 20px
}

.autocomplete-suggestions div a label {
  font-weight: normal;
  cursor: pointer;
  margin: 0;
  float: left;
  width: calc(100% - 84px)
}

.autocomplete-suggestions div a span {
  display: block;
  clear: both;
  cursor: pointer;
  margin: 0;
  padding: 0
}

.autocomplete-suggestions div a span.price {
  color: #fd0000;
  padding-top: 10px
}

.autocomplete-suggestions div.last {
  border: none
}

.autocomplete-suggestions strong {
  font-weight: 500;
  color: #0083bf
}

.autocomplete-suggestions::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: #EBEBEB
}

.autocomplete-suggestions::-webkit-scrollbar {
  width: 5px;
  background-color: #EBEBEB;
  border-radius: 15px
}

.autocomplete-suggestions::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #2080CA;
  border: 1px solid #EBEBEB
}

@media only screen and (max-width: 450px) {
  .search-contain {
    width: 100%
  }
}