.block_search_news .search_form {
  position: relative
}

.block_search_news input {
  background-color: #fff;
  border: 1px solid #ebebeb;
  color: #3a3939;
  font-size: 12px;
  height: 42px;
  line-height: 32px;
  margin: 0;
  padding: 5px 30px 5px 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px
}

.block_search_news .button-search {
  color: #fff;
  cursor: pointer;
  height: 41px;
  position: absolute;
  right: 2px;
  text-align: center;
  top: 0px;
  width: 41px;
  border: none;
  background: none
}

.block_search_news .button-search svg {
  fill: #9c9c9c;
  width: 18px
}
