.shopcart_simple {
  position: relative
}

.shopcart_simple .buy_icon {
  display: inline-block;
  color: #fff;
  position: relative;
  padding-left: 33px
}

.shopcart_simple .buy_icon span.icon-shopping-cart {
  width: 23px;
  height: 23px;
  fill: #ffffff !important;
  transition: 0.5s;
  position: absolute;
  left: 0px;
  top: -4px;
  font-size: 23px;
}

@media screen and (max-width: 760px) {
  .shopcart_simple .buy_icon .text-c {
    display: none
  }
  .shopcart_simple .buy_icon span.icon-shopping-cart {
    top: -17px
  }
}

@media screen and (max-width: 600px) {
  .shopcart_simple .buy_icon span.icon-shopping-cart {
    top: -20px
  }
}

.shopcart_simple .buy_icon .quality {
  color: #fff;
  font-size: 12px;
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 50%;
  transition: 0.5s;
  position: absolute;
  top: -12px;
  left: 10px;
  background: #03A9F4
}

@media screen and (max-width: 760px) {
  .shopcart_simple .buy_icon .quality {
    top: -23px
  }
}

@media screen and (max-width: 760px) {
  .shopcart_simple .buy_icon .quality {
    top: -26px
  }
}

.shopcart_simple .buy_icon:hover span.icon-shopping-cart {
  fill: var(--main-color)
}