.products_blocks_wrapper .time-dow-hotdeal {
  margin-left: 20px;
  line-height: 14px;
  font-size: 16px;
  color: #fff;
  float: left;
  display: inline-block
}

@media all and (max-width: 600px) {
  .products_blocks_wrapper .time-dow-hotdeal {
    font-size: 12px;
    float: right;
    margin-left: 0px;
    top: 8px;
    right: 10px
  }
}

.products_blocks_wrapper .time-dow-hotdeal #time-dow-hotdeal {
  display: inline-block
}

.products_blocks_wrapper .time-dow-hotdeal #time-dow-hotdeal .time {
  display: inline-block
}

.products_blocks_wrapper .time-dow-hotdeal #time-dow-hotdeal .time .time_1 {
  display: inline-block;
  padding: 7px 6px;
  margin: 0 3px;
  background: #e2e2e2;
  font-weight: normal;
  color: #000
}

.products_blocks_wrapper .block_title {
  padding: 13px 18px 11px;
  background: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6
}

.products_blocks_wrapper .block_title span {
  float: left;
  color: red;
  font-size: 20px;
  margin-top: 7px
}

.products_blocks_wrapper .block_title .view-all {
  text-transform: initial;
  font-weight: normal;
  font-size: 14px;
  color: red;
  padding: 3px 20px;
  border: 1px solid red;
  border-radius: 4px;
  margin-left: 120px;
  display: inline-block
}

@media all and (max-width: 700px) {
  .products_blocks_wrapper .block_title .view-all {
    display: none
  }
}

@media all and (max-width: 1024px) {
  .products_blocks_wrapper .block_title {
    padding: 8px 10px 6px
  }
}

@media all and (max-width: 600px) {
  .products_blocks_wrapper .block_title span {
    font-size: 16px
  }
}

@media all and (max-width: 350px) {
  .products_blocks_wrapper .block_title span {
    font-size: 15px
  }
}

@media all and (max-width: 330px) {
  .products_blocks_wrapper .block_title span {
    font-size: 12px
  }
}

.products_blocks_slideshow_hot {
  clear: both;
  display: block;
  background: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  flex: 1 100%;
  position: relative;
  margin-top: 0px;
  box-sizing: border-box;
  padding: 18px;
  border: none;
  margin: 0px 0px 30px 0px
}

.products_blocks_slideshow_hot .item {
  width: 100%;
  border: 1px solid #ebebeb;
  margin: 0px
}

.products_blocks_slideshow_hot .item .product_image {
  min-height: 231px
}

.products_blocks_slideshow_hot > .item-block {
  width: calc(100% / 6)
}

.products_blocks_slideshow_hot_mobile {
  overflow-x: auto;
  margin: 0px
}

.products_blocks_slideshow_hot_mobile .slideshow-hot-list-inner {
  width: 2300px;
  padding: 5px 8px
}

@media all and (max-width: 768px) {
  .products_blocks_slideshow_hot_mobile .slideshow-hot-list-inner {
    display: flex;
    flex-wrap: wrap
  }
}

.products_blocks_slideshow_hot_mobile .slideshow-hot-list-inner .item {
  width: 150px !important
}

@media all and (max-width: 768px) {
  .products_blocks_slideshow_hot_mobile .slideshow-hot-list-inner .item {
    margin: 0px 2px 5px
  }
}

.products_blocks_slideshow_hot {
  box-sizing: border-box
}

.products_blocks_slideshow_hot .item img {
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s
}

.products_blocks_slideshow_hot .item:hover img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05)
}

.products_blocks_slideshow_hot .item-block {
  display: block
}

.products_blocks_slideshow_hot .product_image {
  text-align: center;
  overflow: hidden;
  margin-bottom: 16px;
  min-height: 300px
}

.products_blocks_slideshow_hot .product_image a {
  display: block;
  position: relative
}

.products_blocks_slideshow_hot .name {
  color: #000;
  font-weight: normal
}

.products_blocks_slideshow_hot .name:hover {
  color: var(--main-color)
}

.products_blocks_slideshow_hot .price_arae {
  position: relative
}

.products_blocks_slideshow_hot .price_current {
  color: #e10c00;
  font-size: 14px;
  font-weight: 600;
  display: inline-flex
}

.products_blocks_slideshow_hot .summary_inner {
  padding-top: 10px;
  color: #696969;
  font-size: 12px;
  height: 38px;
  overflow: hidden;
  text-align: left
}

.slideshow-hot-list .owl-nav {
  display: none
}

.slideshow-hot-list .owl-nav div {
  position: absolute;
  top: calc(50% - 18px);
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  border-radius: 50%;
  color: #b5b5b5;
  background: #fff;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 1px 11px #8a8a8a66;
  padding: 6px 0 3px 4px
}

.slideshow-hot-list .owl-nav .owl-next {
  right: -10px
}

.slideshow-hot-list .owl-nav .owl-prev {
  left: -10px
}

.slideshow-hot-list:hover .owl-nav {
  display: block
}

.view-all-mobile {
  display: none
}

@media all and (max-width: 700px) {
  .view-all-mobile {
    display: block;
    text-align: center;
    padding: 7px 0px 11px;
    background: #fff
  }
  .view-all-mobile a {
    text-transform: initial;
    font-weight: normal;
    font-size: 14px;
    color: red;
    padding: 3px 20px;
    border: 1px solid red;
    border-radius: 4px;
    display: inline-block
  }
}