.menu_slide_special {
  margin-top: 6px;
  display: none !important
}

@media all and (max-width: 500px) {
  .menu_slide_special_no_slide {
    display: flex !important;
    flex-wrap: wrap;
    margin: 0px -4px
  }
}

.menu_slide_special_no_slide .item {
  text-align: center;
  border: 1px solid #fc8600b0;
  width: calc(25% - 8px);
  box-sizing: border-box;
  margin: 4px;
  background: #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-height: 48px
}

@media all and (max-width: 500px) {
  .menu_slide_special_slide {
    display: block !important
  }
}

.menu_slide_special_slide .item {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -4px
}

.menu_slide_special_slide .slide_item_menu {
  text-align: center;
  border: 1px solid #fc8600b0;
  width: calc(25% - 8px);
  box-sizing: border-box;
  margin: 4px;
  background: #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-height: 48px
}

.menu_slide_special_slide .owl-controls .owl-nav div {
  display: inline-block;
  zoom: 1;
  position: absolute;
  margin: 0;
  -moz-border-radius: 5px;
  text-align: center;
  font-size: 32px;
  color: #5d5656;
  font-family: -webkit-body;
  line-height: 40px;
  top: calc(50% - 2px);
  transform: translate(0, -50%);
  top: 50%
}

.menu_slide_special_slide .owl-controls .owl-prev {
  left: 0px
}

.menu_slide_special_slide .owl-controls .owl-next {
  right: 0px
}