.header_wrapper_img{
  background-image: url('../img/ko-mau_1612678790.png');
}
#cat_item_store_thiet-bi-ve-sinh .cat-title{
  border-top: 3px solid #007AC8;
}
#cat_item_store_thiet-bi-ve-sinh .manus-cate .item:hover{
  background: #007AC8;
}
#cat_item_store_thiet-bi-ve-sinh .manus-cate .filter-subcat-manu a:hover{
  color: #007AC8;
}
#cat_item_store_thiet-bi-ve-sinh .nav-tabs .item_tabs:hover >a{
  color: #007AC8;
  text-decoration: unset;
}
#cat_item_store_thiet-bi-ve-sinh .sub_cat_lv2 >li:hover >a{
  color: #fff;
  background: #007AC8 !important;
}
#cat_item_store_thiet-bi-ve-sinh .sub_cat_lv2 >li:hover >a >svg{
  fill:#fff;
}
#cat_item_store_thiet-bi-ve-sinh .sub_cat_lv2_filter li:hover a{
  color: #007AC8;
}
#cat_item_store_gach-op-lat .cat-title{
  border-top: 3px solid #FF6666;
}
#cat_item_store_gach-op-lat .manus-cate .item:hover{
  background: #FF6666;
}
#cat_item_store_gach-op-lat .manus-cate .filter-subcat-manu a:hover{
  color: #FF6666;
}
#cat_item_store_gach-op-lat .nav-tabs .item_tabs:hover >a{
  color: #FF6666;
  text-decoration: unset;
}
#cat_item_store_gach-op-lat .sub_cat_lv2 >li:hover >a{
  color: #fff;
  background: #FF6666 !important;
}
#cat_item_store_gach-op-lat .sub_cat_lv2 >li:hover >a >svg{
  fill:#fff;
}
#cat_item_store_gach-op-lat .sub_cat_lv2_filter li:hover a{
  color: #FF6666;
}
#cat_item_store_hoa-chat-phu-gia-xay-dung .cat-title{
  border-top: 3px solid #FFA500;
}
#cat_item_store_hoa-chat-phu-gia-xay-dung .manus-cate .item:hover{
  background: #FFA500;
}
#cat_item_store_hoa-chat-phu-gia-xay-dung .manus-cate .filter-subcat-manu a:hover{
  color: #FFA500;
}
#cat_item_store_hoa-chat-phu-gia-xay-dung .nav-tabs .item_tabs:hover >a{
  color: #FFA500;
  text-decoration: unset;
}
#cat_item_store_hoa-chat-phu-gia-xay-dung .sub_cat_lv2 >li:hover >a{
  color: #fff;
  background: #FFA500 !important;
}
#cat_item_store_hoa-chat-phu-gia-xay-dung .sub_cat_lv2 >li:hover >a >svg{
  fill:#fff;
}
#cat_item_store_hoa-chat-phu-gia-xay-dung .sub_cat_lv2_filter li:hover a{
  color: #FFA500;
}
#cat_item_store_bon-binh .cat-title{
  border-top: 3px solid #e10c00;
}
#cat_item_store_bon-binh .manus-cate .item:hover{
  background: #e10c00;
}
#cat_item_store_bon-binh .manus-cate .filter-subcat-manu a:hover{
  color: #e10c00;
}
#cat_item_store_bon-binh .nav-tabs .item_tabs:hover >a{
  color: #e10c00;
  text-decoration: unset;
}
#cat_item_store_bon-binh .sub_cat_lv2 >li:hover >a{
  color: #fff;
  background: #e10c00 !important;
}
#cat_item_store_bon-binh .sub_cat_lv2 >li:hover >a >svg{
  fill:#fff;
}
#cat_item_store_bon-binh .sub_cat_lv2_filter li:hover a{
  color: #e10c00;
}
#cat_item_store_do-gia-dung .cat-title{
  border-top: 3px solid #18874c;
}
#cat_item_store_do-gia-dung .manus-cate .item:hover{
  background: #18874c;
}
#cat_item_store_do-gia-dung .manus-cate .filter-subcat-manu a:hover{
  color: #18874c;
}
#cat_item_store_do-gia-dung .nav-tabs .item_tabs:hover >a{
  color: #18874c;
  text-decoration: unset;
}
#cat_item_store_do-gia-dung .sub_cat_lv2 >li:hover >a{
  color: #fff;
  background: #18874c !important;
}
#cat_item_store_do-gia-dung .sub_cat_lv2 >li:hover >a >svg{
  fill:#fff;
}
#cat_item_store_do-gia-dung .sub_cat_lv2_filter li:hover a{
  color: #18874c;
}
#cat_item_store_thiet-bi-nha-bep .cat-title{
  border-top: 3px solid #5F9EA0;
}
#cat_item_store_thiet-bi-nha-bep .manus-cate .item:hover{
  background: #5F9EA0;
}
#cat_item_store_thiet-bi-nha-bep .manus-cate .filter-subcat-manu a:hover{
  color: #5F9EA0;
}
#cat_item_store_thiet-bi-nha-bep .nav-tabs .item_tabs:hover >a{
  color: #5F9EA0;
  text-decoration: unset;
}
#cat_item_store_thiet-bi-nha-bep .sub_cat_lv2 >li:hover >a{
  color: #fff;
  background: #5F9EA0 !important;
}
#cat_item_store_thiet-bi-nha-bep .sub_cat_lv2 >li:hover >a >svg{
  fill:#fff;
}
#cat_item_store_thiet-bi-nha-bep .sub_cat_lv2_filter li:hover a{
  color: #5F9EA0;
}
.bg_footer_img{
  background-image: url('https://hailinh.vn/images/config/ko-mau_1612678692.png');
}
.clearfix{
  overflow: hidden;
  clear:both;
}
//pages video
.default_menu_videos {
  width: 200px;
  float: left;
  line-height: 22px;
  .title-menu {
    text-transform: uppercase;
    position: relative;
    padding: 10px;
    padding-left: 44px;
    svg {
      width: 20px;
      height: 20px;
      fill: #fff;
      position: absolute;
      left: 15px;
      top: 11px;
    }
  }
  .item {
    transition: 0.2s;
  }
  >div {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;
    background: var(--main-color);
    color: #fff;
    a {
      padding: 10px;
      color: #fff;
      display: block;
    }
  }
}
.video_one_block_body {
  width: calc(100% - 220px);
  float: left;
  margin-left: 20px;
}
.videos-home{
  .video_item {
    width: calc(100% - 420px);
    float: left;
  }
  .list_video_below {
    width: 400px;
    height: 369px;
    overflow-y: scroll;
    float: right;
    .video_item_li {
      cursor: pointer;
      margin-bottom: 10px;
      .image {
        overflow: hidden;
        position: relative;
        width: 168px;
        float: left;
        min-height: 95px;
        img {
          width: 100%;
          transition: 0.5s;
        }
      }
      .title{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: bold;
        width: calc(100% - 180px);
        float: right;
      }
    }
  }
}
.video_item_inner_has_img_custom {
  position: relative;
  overflow: hidden;
  min-height: 373px;
}
.video_item{
  img {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: 100%;
    height: auto;
    cursor: pointer;
  }
}
.video-name-inner{
  h1 {
    font-size: 20px;
    margin-top: 8px;
    color:#222;
  }
}
.videos-all {
  margin-top: 30px;
  .videos-all-title {
    font-size: 20px;
    margin-bottom: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .videos-grid {
    margin: 0px -10px;
    display: flex;
    flex-wrap: wrap;
    .item {
      width: calc(100% / 4 - 20px);
      margin: 0px 10px 20px;
      position: relative;
      .name{
        h3 {
          font-weight: bold;
        }
      }
    }
  }
}
@media (max-width: 1024px){
  .videos-home{
    .video_item {
      width: 100%;
      float: none;
    }
    .list_video_below {
      width: 100%;
      float: none;
      margin: 5px 0px 0px;
    }
  }
}
@media (max-width: 780px){
  .video_item_inner_has_img_custom {
    min-height: auto;
    margin-bottom: 10px;
  }
  .video-name-pages{
    .video-name-inner{
      padding: 0px;
    }
  }
  .videos-all{
    .videos-all-title {
      font-size: 16px;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: normal;
    }
    .videos-grid{
      .item {
        width: calc(100% / 3 - 20px);
      }
    }
  }
}
@media (max-width: 600px){
  .default_menu_videos {
    width: 100%;
    float: none;
    line-height: 22px;
    margin-bottom: 20px;
    .item {
      display: none;
    }
  }
  .video_one_block_body {
    width: 100%;
    float: none;
    margin-left: 0px;
  }
  .video-name-inner{
    h1 {
      font-size: 16px;
      margin-top: 8px;
      margin-bottom: 12px;
    }
  }
}
@media (max-width: 500px){
  .videos-all{
    .videos-grid {
      margin: 0px -5px;
      .item {
        width: calc(100% / 2 - 10px);
        margin: 0px 5px 5px;
      }
    }
  }
}
// product best seller
.cat_item_store {
  background: #fff;
  margin-bottom: 17px;
  .product_grid_full{
    .item {
      width: calc(20% - 14px);
    }
  }
  .product_grid{
    .item {
      float: left;
      width: calc(25% - 14px);
      margin: 0px 7px 14px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      border: 1px solid #e7e7e77d;
    }
  }
  .product_grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    .item {
      width: 20%;
      margin: 0px;
      border: 0px;
      border: 1px solid #e7e7e7;
      border-left: none;
      border-top: none;
      box-sizing: border-box;
      @media (max-width: 800px){
        width: calc(100% / 3 - 14px) !important;
      }
      .frame_inner {
        position: relative;
      }
      .product_image {
        text-align: center;
        overflow: hidden;
        margin-bottom: 0px;
        min-height: 186px;
        position: relative;
        a {
          display: grid;
          position: relative;
        }
        img {
          transition: all 0.3s ease 0s;
          -webkit-transition: all 0.3s ease 0s;
          width: 100%;
          height: auto;
        }
      }
      .price_current {
        color: #e10c00;
        font-size: 14px;
        font-weight: 600;
        display: block;
      }
      .price_old {
        color: #969696;
        font-size: 14px;
        font-weight: normal;
        display: inline-flex;
        text-decoration: line-through;
        margin-top: 2px;
        display: inline-block;
      }
      .discount_tt {
        font-size: 13px;
        color: #ff0404;
        display: inline-block;
      }
    }
    .name {
      color: #000;
      display: block;
      font-weight: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
.frame_inner>h3 {
  line-height: 18px;
  font-size: 14px;
}
.price_arae {
  padding: 0px 10px 10px;
}
@media (max-width: 800px){
  .cat_item_store{
    .product_grid{
      .item {
        width: 33.333% !important;
      }
    }
  }
}
@media (max-width: 500px){
  .cat_item_store{
    .product_grid{
      .item {
        width: 50% !important;
      }
    }
  }
}
// bộ sưu tập
.albums_home {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -17px;
  .item-b {
    width: calc(100% / 3 - 34px);
    margin: 17px;
    cursor: pointer;
    .date {
      color: #656565;
    }
    img {
      border-radius: 10px;
      margin-bottom: 32px;
    }
    .title {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
.pav-slideShow {
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  left: 0%;
  top: 5%;
  position: fixed;
  box-sizing: border-box;
  z-index: 10000;
  background: transparent;
  visibility: hidden;
  opacity: 0;
  .title-cat {
    color: #fff;
    font-size: 27px;
    position: absolute;
    left: 0px;
    top: -30px;
  }
  .close {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    padding-top: 10px;
    cursor: pointer;
    z-index: 2;
  }
}
@media (max-width: 600px){
  .albums_home {
    margin: 0px -5px;
    .item-b {
      width: calc(100% / 2 - 10px);
      margin: 5px;
      img {
        border-radius: 10px;
        margin-bottom: 10px;
      }
      .title {
        font-size: 16px;
        margin-bottom: 6px;
      }
    }
  }
}
// combo product
.cat_item_store {
  background: #fff;
  margin-bottom: 25px;
  padding: 40px 20px 20px;
  .cat_label{
    text-align: center;
    padding-bottom: 35px;
    background:url("../img/star.png")no-repeat bottom center;
    a {
      font-size: 25px;
      text-transform: uppercase;
    }
  }
  .product_star {
    text-align: center;
    margin-bottom: 15px;
  }
  .product_grid {
    display: flex!important;
    flex-flow: row wrap;
    margin: 0px -7px;
    .item {
      float: left;
      width: calc(25% - 14px);
      margin: 0px 7px 14px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      border: 1px solid #e7e7e77d;
      .frame_inner {
        position: relative;
        .product_image {
          text-align: center;
          overflow: hidden;
          margin-bottom: 0px;
          min-height: 186px;
          position: relative;
          a {
            display: grid;
            position: relative;
          }
        }
      }
    }
  }
}
@media (max-width: 800px){
  .product_grid{
    .item {
      width: calc(100% / 3 - 14px) !important;
    }
  }
}
@media (max-width:767px){
  .cat_item_store{
    .cat_label{
      a {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 600px){
  .product_grid{
    .item {
      width: calc(100% / 2 - 14px) !important;
    }
  }
}
// sản phẩm khuyễn mãi
.box_product_cat{
  .display_off, .display-off {
    display: none !important;
  }
  .page_title{
    span {
      font-weight: normal;
      padding: 0px 20px 14px 0px;
      display: inline-block;
      position: relative;
      margin-left: 0px;
      z-index: 1;
      min-width: 78px;
      text-align: center;
      webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
      transition: all .5s ease;
      font-size: 28px;
      text-decoration: none;
      text-align: left;
    }
  }
  .banner_big {
    position: relative;
    margin-bottom: 50px;
    @media (max-width: 750px){
      margin-bottom: 30px;
    }
  }
  .time-dow-hotdeal {
    line-height: 20px;
    margin-bottom: 60px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    @media (max-width: 750px){
      margin-bottom: 50px;
    }
    #time-dow-hotdeal {
      display: inline-block;
      .time {
        display: inline-block;
        position: relative;
        .time_1 {
          display: inline-block;
          padding: 17px 4px;
          margin: 0 12px;
          background: #ffc000;
          font-weight: normal;
          color: #000;
          font-size: 26px;
          width: 65px;
          box-sizing: border-box;
          text-align: center;
          @media (max-width: 750px){
            padding: 13px 2px;
            margin: 0 4px;
            font-size: 22px;
            width: 51px;
          }
        }
        >span {
          position: absolute;
          bottom: -27px;
          left: 50%;
          transform: translateX(-50%);
          text-transform: uppercase;
          color: #000;
          font-size: 15px;
          @media (max-width: 750px){
            font-size: 13px;
          }
        }
      }
    }
  }
  .title_cat_item_store {
    text-align: center;
    margin-bottom: 40px;
  }
  .cat_item_store {
    background: #fff;
    margin-bottom: 17px;
    padding: 0px;
    .product_grid {
      display: flex;
      flex-flow: row wrap;
      margin: 0px;
      border-top: 1px solid #e7e7e7;
      border-left: 1px solid #e7e7e7;
      .item {
        position: relative;
        overflow: hidden;
        float: left;
        width: 20%;
        margin: 0px;
        border: 0px;
        border: 1px solid #e7e7e7;
        border-left: none;
        border-top: none;
        box-sizing: border-box;
        @media (max-width: 800px){
          width: 33.333% !important;
        }
        @media (max-width: 500px){
          width: 50% !important;
        }
        .frame_inner {
          position: relative;
        }
        .product_image {
          text-align: center;
          overflow: hidden;
          margin-bottom: 0px;
          min-height: 186px;
          position: relative;
          a {
            display: grid;
            position: relative;
          }
          img {
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            width: 100%;
            height: auto;
          }
        }
        .price_discount {
          color: #ffffff;
          display: inline-block;
          margin-left: 10px;
          background: #ff2828;
          position: absolute;
          font-size: 13px;
          padding: 8px 5px 14px;
          top: 14px;
          right: 14px;
          line-height: 16px;
          z-index: 2;
          clip-path: polygon(0 0, 100% 0, 100% 62%, 50% 100%, 0 62%);
        }
      }
    }
  }
  .view-more-cat {
    text-align: center;
    margin-bottom: 40px;
    span {
      border: 1px solid var(--blue-color);
      padding: 5px 73px;
      display: inline-block;
      border-radius: 10px 0px 10px 0px;
      cursor: pointer;
      transition: 0.2s;
      color: var(--blue-color);
      &:hover {
        background: var(--blue-color);
        color: #fff;
      }
    }
  }
}
// product detail
#sync2{
  .item a {
    display: grid;
  }
  .owl-prev,.owl-next{
    display: inline-block;
    zoom: 1;
    position: absolute;
    padding: 6px 0 0;
    margin: 0;
    border-radius: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 24px;
    height: 27px;
    text-align: center;
    font-size: 46px;
    color: #404040;
    font-family: -webkit-body;
    line-height: 12px;
    top: 36px;
    opacity: 1;
  }
  .owl-prev{
    left: -16px;
  }
  .owl-next {
    right: -16px;
  }
  &:hover{
    .owl-prev,.owl-next{
      display: inline!important;
    }
  }
}
.product{
  .detail_main{
    background: #f6f6f6;
    .title-box-product {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
      margin-bottom: 15px;
      @media (max-width: 420px){
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 9px;
        line-height: 22px;
        border-bottom: 1px solid #ededed;
      }
    }
    .description {
      font-size: 15px;
      line-height: 24px;
    }
    #box_conten_linfo {
      max-height: 400px;
      transition: height 75ms;
      overflow: hidden;
    }
    .description p, .description div, .description li, .description h2, .description h3, .description h4 {
      margin-bottom: 12px;
    }
    .detail_main_top{
      background: #fff;
      margin-bottom: 30px;
      .frame_left {
        float: left;
        margin: 0 0 30px;
        width: 43%;
        box-sizing: border-box;
        padding: 20px;
        @media only screen and (max-width: 769px){
          width: 100%;
          float: none;
          padding: 0px;
          margin-bottom: 0px;
        }
        @media screen and (max-width: 600px){
          #sync1_wrapper {
            display: block;
            border: 1px solid #EEE;
            .item{
              img {
                width: 75%;
              }
            }
          }
        }
      }
      .frame_center{
        float: left;
        margin: 0px 0 30px;
        width: 57%;
        padding: 20px;
        box-sizing: border-box;
        @media only screen and (max-width: 769px){
          width: 100%;
          float: none;
          padding: 0px;
          margin: 0px;
          margin-top:30px;
        }
        h1,.name_mb{
          color: #333333;
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 8px;
          display: inline;
          font-weight: bold;
          text-transform: uppercase;
        }
        .hide {
          display: none;
        }
        .rate_head {
          line-height: 14px;
          display: block;
          margin-top: 13px;
          span{
            &.star{
              width: 13px;
              display: inline-block;
              &.star-on {
                color: #FF9727;
              }
            }
          }
        }
        .rate_count {
          margin-left: 5px;
          font-size: 12px;
          font-weight: bold;
          color: #565656;
        }
        .manu-sku {
          margin-top: 10px;
          line-height: 22px;
          >div{
            display: inline-block;
            float: left;
            padding-right: 20px;
            position: relative;
            span{
              color: var(--blue-color);
            }
            &::after {
              position: absolute;
              content: "";
              right: 9px;
              top:6px;
              width: 1px;
              height: 10px;
              background: #6b6b6b;
            }
            &.status{
              &::after{
                display:none;
              }
            }
          }
        }
        .product_base{
          .product_name{
            @media (max-width: 1200px){
              padding-right: 0px;
              margin-top: 0px;
            }
            @media screen and (max-width: 550px){
              margin-bottom: 10px;
            }
            @media (max-width: 600px){
              border-bottom: none;
            }
          }
          .price {
            position: relative;
            margin-top: 18px;
            .price_current {
              font-size: 26px;
              font-weight: bold;
              color: #dc0000;
              float: left;
            }
            .price_old {
              display: inline-block;
              font-size: 16px;
              font-weight: normal;
              color: #9e9e9e;
              margin-left: 15px;
              .discount,.text{
                font-weight: bold;
                color: #dc0000;
              }
            }
          }
          .gift_summary {
            padding-bottom: 20px;
            border-bottom: 1px solid #eee;
          }
          .product_detail_bt{
            margin-top: 15px;
            .text {
              display: inline-block;
              margin-bottom: 30px;
              font-size: 15px;
            }
            .numbers-row {
              display: inline-block;
              margin-left: 20px;
              border: 1px solid #ddd;
              border-radius: 5px;
              position: relative;
              width: 174px;
              input {
                line-height: 36px;
                border: none;
                border-right: 1px solid #ddd;
                border-radius: 5px 0px 0px 5px;
                width: 130px;
                padding-left: 12px;
                box-sizing: border-box;
              }
              &::after {
                content: "";
                width: 21px;
                height: 1px;
                background: #ddd;
                position: absolute;
                right: 11px;
                top: 16px;
              }
              .inc {
                position: absolute;
                top: -1px;
                right: 17px;
                transform: rotate(-90deg);
                cursor: pointer;
              }
              .dec {
                position: absolute;
                bottom: -1px;
                right: 17px;
                transform: rotate(90deg);
                cursor: pointer;
              }
            }
            #buy-now, .btn-dathang, #buy-now-222 {
              display: block;
              width: 48%;
              text-align: center;
              background: #f58631;
              padding: 14px 0;
              box-sizing: border-box;
              border-radius: 5px;
              color: #FFF !important;
              text-decoration: none !important;
              position: relative;
              text-transform: uppercase;
              font-weight: bold;
              font-size: 13px;
              border: none;
              cursor: pointer;
              span{
                font-size: 13px;
              }
              #buy-now, #buy-now-222, .btn-tragop{
                font-size: 13px;
              }
            }
            .btn-dathang {
              background: #dc0000;
              float: left;
              margin-left: 4%;
            }
          }
        }
      }
      .buy_fast {
        border-radius: 4px;
        margin-top: 20px;
        text-align: center;
        color: #FFF;
        width: 100%;
        float: none;
        box-sizing: border-box;
        border: 1px solid #ddd;
        position: relative;
        box-sizing: border-box;
        @media (max-width: 420px){
          margin-top: 8px;
        }
      }
      #telephone_buy_fast {
        border: none;
        width: 100%;
        float: left;
        height: 44px;
        border-radius: 4px;
        padding-left: 15px;
        box-sizing: border-box;
        font-size: 13px;
      }
      .button-buy-fast {
        background: #0ca962;
        width: 140px;
        height: 46px;
        border: none;
        color: #fff;
        text-transform: uppercase;
        border-radius: 4px;
        float: right;
        cursor: pointer;
        font-size: 15px;
        position: absolute;
        right: -1px;
        top: -1px;
        @media (max-width: 420px){
          width: 58px;
        }
      }
      .block-strengths-row2-2 {
        margin: 11px -8px;
        display: flex;
        flex-wrap: wrap;
        .item {
          width: calc(50% - 16px);
          margin: 8px;
          background: #f3f3f3;
          position: relative;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 15px;
          padding: 20px 10px 20px 60px;
          box-sizing: border-box;
          color: #565656;
          @media (max-width: 580px){
            display: grid;
            text-align: left;
            padding: 17px 10px 17px 47px;
            line-height: 18px;
            font-size: 14px;
            width: 100%;
            margin: 5px;
          }
          img {
            width: 35px;
            height: auto;
            position: absolute;
            left: 18px;
            top: 13px;
            @media (max-width: 580px){
              width: 30px;
              height: auto;
              left: 5px;
              transform: translateX(0%);
            }
          }
        }
      }
    }
    .detail_main_bot {
      background: #fff;
      padding: 20px;
      @media (max-width: 992px){
        width: calc(100% - 20px);
      }
      @media (max-width: 769px){
        padding: 20px 0px;
        width: 100%;
      }
      .frame_b_l {
        float: left;
        width: calc(70% - 70px);
        @media (max-width: 840px){
          width: 100%;
          float: none;
          margin-bottom: 15px;
        }
        .tab_content_right {
          display: none;
          @media (max-width: 600px){
            display: block;
          }
          table {
            width: 100%;
            border-collapse: collapse;
          }
        }
        .prodetails_tab_content {
          margin-bottom: 30px;
        }
      }
      .frame_b_r {
        width: 30%;
        float: right;
        @media (max-width: 840px){
          width: 100%;
          float: none;
        }
        .tab_content_right{
          @media (max-width: 600px){
            display: none;
          }
        }
      }
    }
    #readmore_desc, #readany_desc {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 28px;
      font-size: 15px;
    }
    #readmore_desc {
      position: relative;
      &::before {
        width: 100%;
        height: 150px;
        background-image: -webkit-linear-gradient(bottom, #fff, #ffffffed, #ffffff00);
        top: -150px;
        left: 0px;
        content: '';
        position: absolute;
      }
    }
  }
  #readmore_desc{
    span{
      &::before {
        border-left: 2px solid #333;
        border-bottom: 2px solid #333;
        display: inline-block;
        width: 5px;
        height: 5px;
        position: absolute;
        right: 15px;
        top: 16px;
        vertical-align: top;
        content: '';
        transform: rotate(-45deg);
      }
      &:hover{
        &::before {
          border-left: 2px solid #fff;
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
  #readany_desc{
    span{
      &::before {
        border-right: 2px solid #333;
        border-top: 2px solid #333;
        display: inline-block;
        width: 5px;
        height: 5px;
        position: absolute;
        right: 15px;
        top:20px;
        vertical-align: top;
        content: '';
        transform: rotate( -45deg );
      }
      &:hover{
        background: var(--main-color);
        color: #fff;
        &::before {
          border-right: 2px solid #fff;
          border-top: 2px solid #fff;
        }
      }
    }
  }
  #readmore_desc, #readany_desc{
    span{
      text-align: center;
      color: #333;
      background: #f1f1f1;
      padding: 10px 30px 10px 20px;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      -moz-transition: all 0.2s ease-in 0;
      -webkit-transition: all 0.2s ease-in;
      -webkit-transition-delay: 0;
      transition: all 0.2s ease-in 0;
      display: inline-block;
      border: 1px solid #e9e9e98a;
      &:hover {
        background: var(--main-color);
        color: #fff;
      }
    }
  }
  .table_special tr td:nth-child(odd) {
    width: 30% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .description table td {
    padding-left: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .description h1, .description h2, .description h3 {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .description h2 {
    font-size: 24px;
  }
  .characteristic {
    margin-bottom: 30px;
  }
  tr.tr-0, tr.tr-1 {
    border-bottom: 1px #bbbbbb61 dotted;
    color: #333;
  }
  .tab-title {
    margin-bottom: 15px;
    .cat-title-main{
      margin-bottom: 15px;
    }
    span {
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }
  .products-list-related{
    margin-bottom: 20px;
    }
    .product_grid{
      .item{
        @media (min-width: 768px)and(max-width: 991px){
          width: calc(100% - 14px)!important;
        }
        @media (max-width: 767px){
          width: calc(100% - 14px)!important;
        }
      }
    }
  }
  .rate-comment-plugin{
    width: calc(70% - 70px);
    @media (max-width: 900px){
      width: 100%;
    }
    #rates_rate {
      margin-top: 25px;
      max-width: 782px;
      .rsStar {
        display: inline-block;
        margin-left: 10px;
        position: relative;
        background: #52b858;
        color: #fff;
        padding: 2px 8px;
        box-sizing: border-box;
        font-size: 12px;
        border-radius: 2px;
        &::after {
          right: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(82,184,88,0);
          border-right-color: #52b858;
          border-width: 6px;
          margin-top: -6px;
        }
      }
      .star_off {
        background: url('../img/star-of.svg');
        background-repeat: no-repeat;
      }
      .star_on{
        background: url('../img/star.svg');
        background-repeat: no-repeat;
      }
      #ratings {
        display: block;
        float: left;
        margin-top: 5px;
        i {
          cursor: pointer;
          width: 22px;
          height: 22px;
          display: inline-flex;
          transition: all 0.3s ease 0s;
          -webkit-transition: all 0.3s ease 0s;
          background-repeat: no-repeat;
        }
      }
      .rating_area {
        margin-bottom: 14px;
        display: flex;
        align-items: center;
        justify-content: left;
      }
      .rates {
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 20px;
        #rate_add_form {
          margin-top: 20px;
          .label_form {
            float: left;
            font-size: 15px;
            margin-right: 20px;
          }
        }
        ._textarea {
          box-sizing: border-box;
          width: 50%;
          float: left;
          border: 1px solid #ddd;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          margin-top: 5px;
          @media (max-width: 768px){
            width: 100%;
            float: unset;
          }
          textarea {
            font-size: 14px;
            color: #333;
            padding: 5px;
            margin: 5px 0;
            width: 100%;
            height: 115px;
            resize: none;
            border: none;
            box-sizing: border-box;
          }
        }
        .wrap_submit{
          display: block;
          overflow: hidden;
          background: #fff;
          position: relative;
          text-align: center;
          padding-bottom: 10px;
          margin-top: 10px;
          ._btn_rate {
            display: block;
            padding: 8px;
            font-size: 14px;
            color: #fff;
            margin: 0px 2%;
            text-transform: uppercase;
            border: 1px solid var(--main-color);
            border-radius: 4px;
            background: var(--main-color);
            cursor: pointer;
            -webkit-background: var(--main-color);
            -webkit-appearance: none;
            @media (max-width: 768px){
              width: 100%;
              margin: 0px;
            }
          }
        }
      }
      .tab_label {
        margin-bottom: 15px;
        margin-top: 11px;
        strong {
          font-weight: 600;
        }
      }
      .toprt {
        border: solid 1px #ddd;
        border-radius: 5px;
        padding: 5px 15px;
        margin-bottom: 20px;
        overflow:hidden;
        @media (max-width: 1024px){
          padding: 5px 5px 10px;
        }
        .ckt {
          text-align: center;
          margin: 7px;
          font-size: 12px;
        }
        .crt {
          height: 120px;
          box-sizing: border-box;
          @media (max-width: 1024px){
            height: 100%;
          }
          .bcrt {
            @media (max-width: 1024px){
              width: 100%;
            }
            overflow: hidden;
            a {
              display: block;
              width: 200px;
              margin: 41px auto 0;
              padding: 10px;
              color: #fff;
              background-color: var(--main-color);
              border-radius: 5px;
              text-align: center;
              box-sizing: border-box;
              @media (max-width: 1024px){
                background: transparent;
                border: 1px solid var(--main-color);
                color: var(--main-color);
                width: 94%;
                margin: 0px auto;
                padding: 8px 0px;
              }
              &:hover {
                background: #288ad6;
                color: #fff;
              }
            }
          }
          .rcrt {
            font-size: 13px;
            overflow: hidden;
            box-sizing: border-box;
            padding: 10px 0;
            width: 45%;
            float: left;
            border-right: solid 1px #eee;
            @media (max-width: 1024px){
              width: 90%;
              border-right: 0px;
              border-left: solid 1px #eee;
              padding: 0px;
              margin: 8px 0px;
            }
            @media (max-width: 414px){
              font-size: 11px;
            }
            .r {
              padding: 1px 20px;
              @media (max-width: 414px){
                padding: 1px 0px 1px 10px;
              }
            }
            span.t {
              display: inline-block;
              color: #333;
              @media (max-width: 414px){
                font-size: 12px;
              }
              i {
                background: url('../img/icon-star.png');
                width: 12px;
                height: 12px;
                background-size: 12px 12px;
                display: inline-block;
              }
            }
            span.n {
              color: #333;
              text-decoration: unset !important;
              cursor: unset !important;
            }
          }
          .bgb {
            width: 55%;
            background-color: #e9e9e9;
            height: 5px;
            display: inline-block;
            margin: 0 10px;
            border-radius: 5px;
            .bgb-in {
              background-color: #f25800;
              background-image: linear-gradient( 90deg , #ff7d26 0%, #f25800 97%);
              height: 5px;
              border-radius: 5px 0 0 5px;
              max-width: 100%;
            }
          }
        }
        .extCt {
          padding: 5px;
          box-sizing: border-box;
          background: #f7f7f7;
          border-top: 1px solid #ddd;
        }
      }
    }
  }
  .comments{
    .tab_label {
      margin-bottom: 15px;
      margin-top: 11px;
    }
    .comment_keyword_wrapper {
      border: 1px solid #EEE;
      max-width: 100%;
      color: #333;
      box-sizing: border-box;
      width: 400px;
      margin-bottom: 10px;
      position: relative;
      border-radius: 3px;
      #comment_keyword {
        display: block;
        padding: 8px;
        font-size: 14px;
        width: 100%;
        border: none;
        box-sizing: border-box;
      }
      .button-search {
        width: 42px;
        height: 32px;
        position: absolute;
        background: #ffffff;
        border: none;
        right: 0px;
        top: 0px;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        svg {
          width: 18px;
          color: var(--main-color);
        }
      }
    }
    ._contents{
      ._level_0 {
        margin-bottom: 10px;
        margin-top: 15px;
        p{
          ._avatar {
            float: left;
            width: 25px;
            height: 25px;
            background: #ccc;
            margin-right: 7px;
            text-align: center;
            color: #666;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 26px;
            font-weight: 600;
          }
          ._name {
            color: #22221D;
            font-weight: bold;
            float: left;
            line-height: 28px;
            margin-right: 20px;
          }
          ._level {
            float: left;
            background: #fc8600;
            text-transform: uppercase;
            padding: 2px 10px 0;
            border-radius: 4px;
            font-size: 12px;
            margin-top: 2px;
            color: #fff;
          }
        }
        ._wrap {
          padding-bottom: 10px;
          padding-left: 32px;
          ._content {
            color: #606060;
            margin-bottom: 11px;
          }
          ._control {
            font-size: 13px;
            .button_reply {
              color: #498FE1;
            }
            .dot {
              padding: 0 5px;
              font-size: 30px;
              height: 6px;
              line-height: 0;
              display: inline-block;
              color: #B3B5B2;
            }
          }
        }
      }
    }
    .reply_area {
      padding: 10px;
      background: #FFF;
      box-sizing: border-box;
      margin-right: 10px;
      margin-top: 5px;
      border-radius: 3px;
    }
    #comment_add_form {
      margin-top: 20px;
      .label_form {
        font-weight: 600;
        margin-bottom: 15px;
        display: block;
        font-size: 15px;
      }
    }
    ._textarea {
      float: none;
      width: 100%;
      padding-right: 0px;
      textarea {
        display: block;
        overflow: hidden;
        background: #fff;
        min-height: 123px;
        border: 1px solid #EEEEEE;
        padding: 10px;
        color: #333;
        width: 100%;
        box-sizing: border-box;
      }
    }
    .wrap_r{
      float: none;
      width: 96%;
      padding-left: 0px;
      position: fixed;
      top: 130px;
      z-index: 100;
      left: 2%;
      display: none;
      @media only screen and (min-width: 768px){
        width: 40%;
        left: 30%;
      }
      &.display-open {
        display: block !important;
      }
    }
  }
  .btn-comment-mb, .btn-comment-mb-rep {
    background-color: var(--main-color);
    border: none;
    font-size: 15px;
    color: #fff;
    padding: 8px 12px 9px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
  }
  .title-mb {
    overflow: hidden;
    padding: 13px 0 10px 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    background: #fff;
    border-bottom: 1px solid #e6e3e3;
    position: relative;
    display: block;
    .close-md-comment {
      position: absolute;
      right: 10px;
      top: 10px;
      font-weight: normal;
      cursor: pointer;
    }
  }
  .wrap_loginpost {
    display: block;
    overflow: hidden;
    background: #fff;
    position: relative;
    ._right {
      float: right;
      overflow: hidden;
      width: 100%;
      .txt_input {
        display: block;
        padding: 8px;
        width: 97%;
        margin: 10px 2%;
        height: 35px;
        border: 1px solid #dadada;
        background: #fff;
        border-radius: 4px;
        font-size: 14px;
        box-sizing: border-box;
        @media (max-width: 768px){
          width: 100%;
          margin: 10px 2%;
        }
      }
    }
  }
  .full-screen-mobile {
    background: #00000070;
    z-index: 99;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: none;
  }
  .wrap_submit {
    display: block;
    overflow: hidden;
    background: #fff;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    ._btn_comment {
      display: block;
      width: 96%;
      margin-left: 2%;
      margin: 0 auto 10px;
      padding: 8px;
      height: 40px;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      border: 1px solid var(--main-color);
      border-radius: 4px;
      background: var(--main-color);
      cursor: pointer;
      -webkit-background: var(--main-color);
      -webkit-appearance: none;
    }
  }
}
// product list
.filter_products_cat {
  box-sizing: border-box;
  width: 20%;
  float: left;
  @media (max-width: 1050px){
    position: fixed;
    left: 0px;
    display: none;
    top: 0px;
    z-index: 99999;
    height: 100%;
    background: #fff;
    border-right: 1px solid #ededed;
    width: 320px;
    padding: 10px;
    overflow-y: auto;
  }
  @media (max-width: 767px){
    width:280px;
  }
}
.field_titlee {
  background: #fff;
  overflow: hidden;
  width: 100%;
  .title-name{
    .cat-title{
      @media only screen and (max-width: 768px){
        text-align: left;
      }
      .cat-title-main{
        float:none;
        line-height: inherit;
      }
    }
  }
}
.icon-filter {
  position: relative;
  float: left;
  display: inline;
  width: calc(100% - 0px);
}
.block_products_filter{
  margin: 0 0px;
  padding: 10px;
  .field_item{
    float: left;
    position: relative;
    line-height: 30px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 10px;
    .field_name{
      color: #252525;
      cursor: pointer;
      font-weight: bold;
      margin-bottom: 13px;
      font-size: 14px;
      position: relative;
      border-bottom: 1px solid #e3e3e3;
      padding-bottom: 5px;
      span {
        display: inline-block;
        font-size: 16px;
      }
    }
  }
  .icon {
    content: "";
    position: absolute;
    top: 10px;
    right: -5px;
    width: 15px;
    height: 15px;
    z-index: 2;
    cursor: pointer;
    &::after {
      width: 15px;
      height: 15px;
      content: "";
      display: block;
      background: url('../img/down.svg');
      background-repeat: no-repeat;
    }
  }
  .filter-manufactory {
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 10px;
    a {
      display: block;
      margin-bottom: 10px;
      line-height: 24px;
      &:hover {
        color: red;
      }
    }
    .title_filter {
      padding-bottom: 5px;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 13px;
      line-height: 30px;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      border-bottom: 1px solid #e3e3e3;
    }
  }
  .rotateam90deg {
    transform: rotate( -90deg );
    top: 4px !important;
  }
  .field_label{
    .item{
      a {
        color: #333;
        font-weight: 500;
        margin-left: 0px;
        line-height: 28px;
        position: relative;
        padding-left: 27px;
        display: block;
        &::before {
          background: url('../img/box.svg');
          background-repeat: no-repeat;
          width: 15px;
          height: 23px;
          z-index: 10;
          float: left;
          content: '';
          margin-right: 8px;
          position: absolute;
          left: 0;
          top: 4px;
        }
      }
      &:hover{
        a{
          color: red;
          &::before{
            background: url('../img/box-t.svg');
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
.filters_in_field_inner{
  .close {
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 2;
    display: none;
  }
}
.products-cat {
  width: calc(80% - 12px);
  float: right;
  @media (max-width: 1050px){
    width: 100%;
    float:none;
  }
  .list_sub_cats_wrapper {
    @media (max-width: 1050px){
      margin: 10px -3px 15px;
    }
    display: flex;
    flex-wrap: wrap;
    margin: 0px -3px 5px;
    .item {
      width: calc(100% / 10 - 6px);
      margin: 0px 3px 6px;
      padding: 4px 4px 4px;
      box-sizing: border-box;
      background: #fff;
      border: 1px solid #eee;
      text-align: center;
      border-radius: 5px;
      transition: 0.4s;
      img {
        min-height: 80px;
      }
      @media (max-width: 900px){
        width: 102px;
      }
      a {
        display: block;
      }
      &:hover {
        border: 1px solid var(--blue-color);
      }
    }
  }
  .manu_products_special {
    background: #fff;
    margin-bottom: 30px;
    padding: 20px 20px 5px 20px;
    @media (max-width: 1050px){
      margin-bottom: 15px;
      padding: 0px;
    }
    .cat_label{
      .manu_products_special_name {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 9px;
        display: block;
      }
    }
  }
}
.filter_icon {
  display: none;
  float: right;
  margin-right: 15px;
  @media screen and (max-width: 1050px){
    display: block;
    position: fixed;
    top: 15%;
    right: 15px;
    z-index: 100;
    padding: 10px 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 3px 2px 15px #ccc;
  }
}